<ion-view>
	<ion-content class="bg-fb">
		<div class="detail-special">
			<i class="if i-remove1 go-back radius" hna-goback nav-direction="back"></i>
			<div class="swiper-container bg-ff" id="swiper1">
				<ul class="swiper-wrapper">
					<li class="swiper-slide swiper-item vertical-align-img" ng-repeat="img in ::detail.images">
						<img ng-src="{{img}}"/>
					</li>
				</ul>
				<div class="swiper-pagination"></div>
			</div>

			<div class="detail-special-info pd-lr pd-b15 bg-ff border-b">
				<div class="border-b1 pd-tb text1 text-word">
					<img ng-src="{{ ::detail.creator.headerIcon}}" width="30" height="30" class="radius mg-r15 left"/>
					<div class="left color-88">
						<span ng-bind="::detail.creator.nickName"></span>
						<span ng-show="detail.creator.company" >&middot;</span>
						<span class="font-10 color-88" ng-bind="::detail.creator.company"></span>
					</div>
					<span class="right color-88" ng-bind="::detail.createdDate"></span>
				</div>

				<div class="font-16 pd-tb" ng-bind="::detail.name"></div>

				<div>
					<span class="tag tag-hong" ng-repeat="tag in ::detail.tags" ng-bind="tag"></span>
				</div>
				<pre class="color-88" ng-bind="::detail.description"></pre>
			</div>

			<hna-team-members></hna-team-members>

			<div class="swiper-container bg-ff mg-t10" id="swiper2">
				<ul class="tab-nav" id="swiper2-nav"></ul>
				<ul class="swiper-wrapper tab-list">
					<li class="swiper-slide pd-lr pd-tb introduction">
            <div id="detail-introduction-container"></div>
            <div class="edit-introduction" ui-sref="detail-edit-introduction({projectId:detail.id})" ng-if="isCurrentUser">
              <i class="edit"></i>
              <span>编辑内容</span>
            </div>
					</li>
					<li class="swiper-slide pd-lr pd-tb">
						<pre ng-bind="detail.marketAnalysis"></pre>
            <div class="edit-introduction" ui-sref="detail-edit-market({projectId:detail.id})" ng-if="isCurrentUser">
              <i class="edit"></i>
              <span>编辑内容</span>
            </div>
					</li>
					<li class="swiper-slide pd-lr pd-tb">
						<pre ng-bind="detail.businessModel"></pre>
            <div class="edit-introduction" ui-sref="detail-edit-business({projectId:detail.id})" ng-if="isCurrentUser">
              <i class="edit"></i>
              <span>编辑内容</span>
            </div>
					</li>
					<li class="swiper-slide pd-lr pd-tb">
						<pre ng-bind="detail.resourceRequired"></pre>
            <div class="edit-introduction" ui-sref="detail-edit-resource({projectId:detail.id})" ng-if="isCurrentUser">
              <i class="edit"></i>
              <span>编辑内容</span>
            </div>
					</li>
				</ul>
			</div>

			<div class="pd-t20 text-center pd-b50">
				<div class="mg-b20">
					<a class="a-btn tag-hong" ng-click="generateBPPdf(detail)" >生成BP计划书</a>
				</div>
				<div class="mg-b20">
					<a class="a-btn tag-hong" href="bim://bimwork" ng-if="getMobileType() === 'ios'">申请加入项目讨论组</a>
					<a class="a-btn tag-hong" href="intent://bim/home#Intent;scheme=bim;package=com.pactera.hnabim;end" ng-if="getMobileType() === 'android'">申请加入项目讨论组</a>
				</div>
			</div>

		</div>
	</ion-content>
	<hna-footernav></hna-footernav>
</ion-view>
