
<!--<img src="../img/innovation.png" style="width: 100%;height: auto; position: absolute">-->
<div class="bar bar-header">
  <button class="button button-icon ion-ios-person-outline"></button>
  <div class="h1 title">创新平台</div>
  <div class="button button-clear button-positive button-img">
    <img src="../img/interest.png" alt="">
    <img src="../img/search.png" alt="">
  </div>
</div>
<ion-content>
  <div class="content content-header">
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="../img/banner/banner-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/banner/banner-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/banner/banner-3.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="nav-list">
      <ul>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          <span>热门创意</span>
        </li>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          最新项目
        </li>
      </ul>
      <ul>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          热门资源
        </li>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          创新明星
        </li>
      </ul>
    </div>
    <div class="list card">

      <div class="item item-avatar">
        <img src="../img/adam.jpg">
        <h2><span>Tao</span><span>.</span><span>生态科技研究院</span></h2>
        <div class="process">
          <span class="active"></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="item item-image">
        <img src="../img/cover.jpg">
      </div>

      <a class="item item-title" href="#">
        货物DNA完整性校验平台
      </a>
      <div class="description">
        提供特质的RFID标签及读写卡设备给用户；企业客户使用标签对化武进行封装，将货物信息及标签对应录入SaaS平台；在货物...
      </div>
      <div class="info clearfix">
        <div class="label-list">
          <span><i>＃</i>科技</span>
        </div>
        <div class="action">
          <span><img src="../img/time.png" alt="">2</span>
          <span><img src="../img/time.png" alt="">0</span>
        </div>
      </div>
    </div>
    <div class="list card">

      <div class="item item-avatar">
        <img src="../img/adam.jpg">
        <h2><span>Tao</span><span>.</span><span>生态科技研究院</span></h2>
        <div class="process">
          <span class="active"></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="item item-image">
        <img src="../img/cover.jpg">
      </div>

      <a class="item item-title" href="#">
        货物DNA完整性校验平台
      </a>
      <div class="description">
        提供特质的RFID标签及读写卡设备给用户；企业客户使用标签对化武进行封装，将货物信息及标签对应录入SaaS平台；在货物...
      </div>
      <div class="info clearfix">
        <div class="label-list">
          <span><i>＃</i>科技</span>
        </div>
        <div class="action">
          <span><img src="../img/time.png" alt="">2</span>
          <span><img src="../img/time.png" alt="">0</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div class="bar bar-footer">
  <div class="button button-clear button-left active">
    <img src="../img/find.png" alt="">
    <span>发现创意</span>
  </div>
  <div class="title">
    <img src="../img/add.png" alt="">
  </div>
  <div class="button button-clear button-right">
    <img src="../img/find.png" alt="">
    寻找资源
  </div>
</div>




