
<!--<img src="../img/innovation.png" style="width: 100%;height: auto; z-index: 10; position: absolute;opacity: 0.4">-->
<div class="bar bar-header">
  <button class="button button-icon ion-ios-person-outline" ng-click="showPopup()"></button>
  <div class="h1 title">创新平台</div>
  <div class="button button-clear button-positive button-img">
    <img src="../img/interest.png" alt="">
    <img src="../img/search.png" alt="">
  </div>
</div>
<ion-content>
  <div class="content content-header">
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="../img/banner/banner-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/banner/banner-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/banner/banner-3.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="nav-list">
      <ul>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          <span>热门创意</span>
        </li>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          最新项目
        </li>
      </ul>
      <ul>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          热门资源
        </li>
        <li>
          <img src="../img/nav/nav-1.png" alt="">
          创新明星
        </li>
      </ul>
    </div>
    <div class="list card" ng-repeat="project in projects">

      <div class="item item-avatar">
        <img ng-src="{{project.user.headerIcon}}">
        <h2><span ng-bind="project.user.nickName"></span><span>.</span><span ng-bind="project.user.department"></span></h2>
        <div class="process">
          <span ng-class="{active: project.status >=2 }"></span>
          <span ng-class="{active: project.status >=3 }"></span>
          <span ng-class="{active: project.status ==4 }"></span>
        </div>
      </div>

      <div class="item item-image">
        <img ng-src="{{project.image}}">
      </div>

      <a class="item item-title" href="#" ng-bind="project.name"></a>
      <div class="description" ng-bind="project.description"></div>
      <div class="info clearfix">
        <div class="label-list">
          <span ng-repeat="tagName in project.tagNames">
            <i>＃</i><span ng-bind="tagName"></span>
          </span>
        </div>
        <div class="action">
          <span><img src="../img/time.png" alt=""><span ng-bind="project.favoriteCount"></span></span>
          <span><img src="../img/time.png" alt=""><span ng-bind="project.commentCount"></span></span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div class="bar bar-footer">
  <div class="button button-clear button-left active">
    <img src="../img/find.png" alt="">
    <span>发现创意</span>
  </div>
  <div class="title">
    <img src="../img/add.png" alt="">
  </div>
  <div class="button button-clear button-right">
    <img src="../img/find.png" alt="">
    寻找资源
  </div>
</div>




