<!--<img src="../img/innovation.png" style="width: 100%;height: auto; z-index: 10; position: absolute;opacity: 0.4">-->
<ion-view>

  <hna-home-header></hna-home-header>

  <ion-content>
    <div class="content content-header">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div id="home-slide" class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="../img/banner/banner-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../img/banner/banner-2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../img/banner/banner-3.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../img/banner/banner-4.jpg" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <hna-stastitics></hna-stastitics>

      <div class="nav-list">
        <ul>
          <li ng-click="goPopularInnovation()" >
            <img src="../img/nav/nav-1.png" alt=""> {{'innovation.popular-innovation' | translate }}
          </li>
          <li ng-click="goLastInnovation()" >
            <img src="../img/nav/nav-2.png" alt=""> {{'innovation.last-innovation' | translate }}
          </li>
        </ul>
        <ul>
          <li ng-click="goPopularResources()" >
            <img src="../img/nav/nav-3.png" alt=""> {{'innovation.popular-resources' | translate }}
          </li>
          <li ng-click="goInnovationStars()" ∫>
            <img src="../img/nav/nav-4.png" alt=""> {{'innovation.innovation-stars' | translate }}
          </li>
        </ul>
      </div>
      <div class="innovation" >
        <div class="list card" ng-repeat="project in projects" ui-sref="detail({projectId: project.id, pageName: 'innovation'})" nav-direction="forward">

          <div class="item item-avatar">
            <img ng-src="{{project.creator.headerIcon}}">
            <h2 class="pd-r80">
              <span class="color-3d" ng-bind="project.creator.nickName"></span>
              <span ng-show="project.creator.company">&middot;</span>
              <span class="font-12 color-88" ng-bind="project.creator.company"></span>
            </h2>
            <div class="process">
              <span ng-class="{active: project.status >=2 }"></span>
              <span ng-class="{active: project.status >=3 }"></span>
              <span ng-class="{active: project.status ==4 }"></span>
            </div>
          </div>

          <div class="item item-image">
            <a class="vertical-align-img" >
              <img ng-src="{{project.images[0] || '/static/image/874121084768961409.jpg'}}">
            </a>
          </div>
          <h2 class="color-3d font-16 pd-l10 pd-r10" ng-bind="project.name">
          </h2>
          <p class="description color-88" ng-bind="project.description"></p>
          <div class="info clearfix">
            <div class="label-list">
              <span ng-repeat="tag in project.tags">
            <i>＃</i><span ng-bind="tag"></span>
          </span>
            </div>
            <div class="action">
              <span class="color-88" ng-class="{true:'like-hover',false:'like-collect'}[project.hasLiked]">
                <i class="if" ></i>{{project.likeCount}}
              </span>
              <span class="color-88"><i class="if i-xiaoxi"></i>{{project.commentCount}}</span>
            </div>
          </div>
        </div>

        <load-more
          on-load-more="getProjects()"
          has-more-data="hasMoreData">
        </load-more>

      </div>
      <div class="empty center" ng-if="projects.length === 0">
        <img src="../img/empty.svg">
        <div ng-bind="attentionMsg"></div>
      </div>

    </div>
  </ion-content>

  <hna-home-footer></hna-home-footer>

  <hna-home-preferences></hna-home-preferences>

</ion-view>
