
<ion-view cache-view="false" view-title="最新创意">

<ion-header-bar>
  <div class="user-list-title bg-pink bg-img-left" ui-sref="innovation" nav-direction="back">
    <span class="font-18">最新创意</span>
  </div>
</ion-header-bar>

  <ion-content class="bg-fb">
		<ul class="show-innovation-list pd-5">
			<li ng-repeat="project in projects" >
				<div ui-sref="detail({ projectId: project.id, pageName: 'last-innovation'})" nav-direction="forward">
					<div class="show-innovation-post">
						<img ng-src="{{ ::project.images[0] }}" />
					</div>
					<div>
						<p class="text-title3" ng-bind="::project.name" ></p>
						<div class="border-t1 show-innovation-info color-88">
								<span class="if i-time"></span>
								<span class="innovation-time" ng-bind="::project.createdDate" ></span>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<load-more
       on-load-more="getProjects()"
       has-more-data="hasMoreData">
    </load-more>

		<div class="empty center" ng-if="projects.length === 0">
				<img src="../img/empty.svg">
				<div ng-bind="attentionMsg"></div>
		</div>
	</ion-content>
</ion-view>
