
<ion-view view-title="热门创意">
	<ion-content class="bg-fb">
		<div class="user-list-title bg-pink bg-img-left" hna-goback>
			<span class="font-18">热门创意</span>
		</div>
		<ul class="popular-innovation-list pd-5">
			<li>
				<div>
					<div class="popular-innovation-post">
						<img src="http://172.16.0.178/static/image/1472817089580.png"/>
					</div>
					<div>
						<p class="border-b1 text-title3">货物完整性DNA校验平台</p>
						<div class="popular-innovation-info">
							<img src="../img/home/home-love2.png" alt="">
							<span>3321</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div class="popular-innovation-post">
						<img src="http://172.16.0.178/static/image/1472829623957.png"/>
					</div>
					<div>
						<p class="border-b1 text-title3">写代码换公益</p>
						<div class="popular-innovation-info">
							<img src="../img/home/home-love2.png" alt="">
							<span>2127</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div class="popular-innovation-post">
						<img src="http://172.16.0.178/static/image/1474280873886.jpg"/>
					</div>
					<div>
						<p class="border-b1 text-title3">基于虚拟货币的项目</p>
						<div class="popular-innovation-info">
							<img src="../img/home/home-love2.png" alt="">
							<span>721</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div class="popular-innovation-post">
						<img src="http://172.16.0.178/static/image/1474355214546.jpg"/>
					</div>
					<div>
						<p class="border-b1 text-title3">大数据精准人才推荐</p>
						<div class="popular-innovation-info">
							<img src="../img/home/home-love.png" alt="">
							<span>412</span>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div class="popular-innovation-post">
						<img src="http://172.16.0.178/static/image/1610/1476006020643.jpg"/>
					</div>
					<div>
						<p class="border-b1 text-title3">大数据精准人才推荐超长文字大数据精准人才推荐超长文字大数据精准人才推荐超长文字</p>
						<div class="popular-innovation-info">
							<img src="../img/home/home-love.png" alt="">
							<span>412</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view>
