
<ion-view view-title="热门创意">
	<ion-content class="bg-fb">
		<div class="user-list-title bg-pink bg-img-left" hna-goback>
			<span class="font-18">热门创意</span>
		</div>
		<ul class="creative-list pd-10">
			<li>
				<div>
					<div>
						<a ng-href="#">
							<img src="../img/user/list-1.jpg"/>
						</a>
					</div>
					<div class="info">
						<p class="border-b1 text-title2">货物完整性DNA校验平台</p>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div>
						<a ng-href="#">
							<img src="../img/user/list-1.jpg"/>
						</a>
					</div>
					<div class="info">
						<p class="border-b1 text-title2">写代码换公益</p>
					</div>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view>
