
<ion-view view-title="资源详情">
	<ion-content class="bg-fb">
		<div class="detail-special">
			<div class="bg-ff">
				<img src="../img/banner/banner-2.jpg" width="100%" height="174"/>	
			</div>

			<div class="detail-special-info pd-lr bg-ff">
				<div class="font-16">创业导师资源</div>	
				<div>
					<span class="tag tag-lan">海创空间</span>
				</div>
			</div>
			
			<div class="swiper-container bg-ff mg-t10" id="swiper-container">
				<ul class="tab-nav" id="swiper2-nav"></ul>
				<ul class="swiper-wrapper tab-list">
					<li class="swiper-slide pd-lr pd-tb">
						<p class="mg-b0">我想做什么</p>
						<p class="color-88">用新的技术用新的技术用新的技术用新的技术</p>
						<p class="mg-b0">我想做什么</p>
						<p class="color-88">用新的技术用新的技术用新的技术用新的技术</p>
						<p class="mg-b0">我想做什么</p>
						<p class="color-88">用新的技术用新的技术用新的技术用新的技术</p>
					</li>
					<li class="swiper-slide pd-lr pd-tb">222222</li>
				</ul>
			</div>
		</div>
	</ion-content>
</ion-view>
