
<ion-view view-title="资源详情">
	<ion-content class="bg-fb">
		<div class="detail-special">
			<div class="bg-ff">
				<img src="../img/banner/banner-2.jpg" width="100%" height="174"/>	
			</div>

			<div class="detail-special-info pd-lr bg-ff">
				<div class="font-16">创业导师资源</div>	
				<div>
					<span class="tag tag-lan">海创空间</span>
				</div>
			</div>
			
			<div class="swiper-container bg-ff mg-t10" id="swiper-container">
				<ul class="tab-nav" id="swiper2-nav"></ul>
				<ul class="swiper-wrapper">
					<li class="swiper-slide pd-lr pd-tb">
						<p class="color-88">用新的技术用新的技术用新的技术用新的技术用新的技术用新的技术用新的技术用新的技术用新的技术用新的技术用新的技术用新的技术</p>
					</li>
					<li class="swiper-slide pd-lr pd-tb" style="padding-top: 0;">
						<ul class="daoshi-list">
							<li>
								<div class="box-table">
									<div class="box-table-row border-b1">
										<div class="box-table-cell" style="width: 40px;">
											<div class="pd-t20">
												<img src="../img/ben.png" width="40" height="40" class="radius" />
											</div>							
										</div>
										<div class="box-table-cell">
											<ul class="box-table" style="margin-bottom: 10px; margin-top: 10px;">
												<li class="box-table-row">
													<div class="box-table-cell pd-l10 pd-t10">
														<p class="p-20 color-3d">江山 Shan Jang</p>
														<p class="p-20 color-88">资深投资人</p>
													</div>
													<div class="box-table-cell">
														<i class="if i-xiaoxi color-88 right font-30"  style="width: 30px; line-height: 40px;"></i>
													</div>
												</li>
											</ul>
											<p class="color-3d pd-l10 mg-b0 pd-b20">
												<span>优势：</span>
												<span>可为电商O2O提供培训可为电商O2O提供培训可为电商O2O提供培训</span>
											</p>											
										</div>
									</div>
									<div class="box-table-row border-b1">
										<div class="box-table-cell" style="width: 40px;">
											<div class="pd-t20">
												<img src="../img/ben.png" width="40" height="40" class="radius" />
											</div>							
										</div>
										<div class="box-table-cell">
											<ul class="box-table" style="margin-bottom: 10px; margin-top: 10px;">
												<li class="box-table-row">
													<div class="box-table-cell pd-l10 pd-t10">
														<p class="p-20 color-3d">江山 Shan Jang</p>
														<p class="p-20 color-88">资深投资人</p>
													</div>
													<div class="box-table-cell">
														<i class="if i-xiaoxi color-88 right font-30"  style="width: 30px; line-height: 40px;"></i>
													</div>
												</li>
											</ul>
											<p class="color-3d pd-l10 mg-b0 pd-b20">
												<span>优势：</span>
												<span>可为电商O2O提供培训可为电商O2O提供培训可为电商O2O提供培训</span>
											</p>											
										</div>
									</div>
									<div class="box-table-row border-b1">
										<div class="box-table-cell" style="width: 40px;">
											<div class="pd-t20">
												<img src="../img/ben.png" width="40" height="40" class="radius" />
											</div>							
										</div>
										<div class="box-table-cell">
											<ul class="box-table" style="margin-bottom: 10px; margin-top: 10px;">
												<li class="box-table-row">
													<div class="box-table-cell pd-l10 pd-t10">
														<p class="p-20 color-3d">江山 Shan Jang</p>
														<p class="p-20 color-88">资深投资人</p>
													</div>
													<div class="box-table-cell">
														<i class="if i-xiaoxi color-88 right font-30"  style="width: 30px; line-height: 40px;"></i>
													</div>
												</li>
											</ul>
											<p class="color-3d pd-l10 mg-b0 pd-b20">
												<span>优势：</span>
												<span>可为电商O2O提供培训可为电商O2O提供培训可为电商O2O提供培训</span>
											</p>											
										</div>
									</div>									
									
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</ion-content>
</ion-view>
