<ion-view view-title="最新创意">
    <ion-content class="bg-fb">
        <form ng-submit="search(keyword)" novalidate>
            <div class="bar bar-header bar-header-search item-input-inset bg-pink">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon color-red"></i>
                    <input type="search" ng-model="keyword" placeholder="搜索..." autofocus="autofocus" class="bg-ff">
                </label>
                <a href="#innovation" class="color-white pd-l15">取消</a>
            </div>
        </form>
        <div ng-show="isResultTextShown && searchResults.length === 0" class="color-pink pd-15">
            {{ NO_SEARCH_RESULT }}
        </div>
        <ul class="show-innovation-list pd-5">
            <li ng-repeat="project in searchResults">
                <div ui-sref="detail({projectId: project.id, pageName: 'innovation'})">
                    <div class="show-innovation-post">
                        <img ng-src="{{::project.image}}">
                    </div>
                    <div>
                        <p class="text-title3" ng-bind="::project.name"></p>
                        <div class="border-t1 show-innovation-info color-88">
                            <span class="if i-time"></span>
                            <span class="innovation-time" ng-bind="::project.createdDate"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
