<ion-view>
    <header class="bar bar-header bg-pink step-header">
        <a ui-sref="innovation" class="ion-android-close color-white"></a>
        <h1 class="title color-grey">记录新点子</h1>
    </header>
    <ion-content>
        <main id="step-1" class="content has-header">
            <div ng-show="ItemList == false">
                <div id="imgUpload">
                    <img class="pointer" src="../img/step/step-photo.png" alt="上传图片" width="100%" ng-click="photoUpload()">
                    <form id="photo-form" method="POST" action="/api/media/image" enctype="multipart/form-data">
                        <input id="photoUpload" type="file" name="photo" accept="image/*" ng-show="true" style="width:0px;">
                    </form>
                </div>
                <textarea placeholder="在此记录你的灵感..." name="description" ng-model="formdata.description" validator="isDescription === true" invalid-message="'记录未通过验证'"
                    required-message="'记录不能为空！'" required></textarea>
            </div>
            <div ng-hide="ItemList == false">
                <ul class="step-container clearfix">
                    <li class="step-item left" ng-repeat="item in ItemListContent">
                        <img src="../img/step/max.png" ng-src="{{item.photos[0].url}}" width="100%" ng-click="edit(item.projectDraft.id)">
                        <img class="item-del" src="../img/step/step-close.png" alt="删除" ng-click="del(item.projectDraft.id)" width="12" height="12">
                    </li>
                    <li class="step-item left" ng-click="change()">
                        <img src="../img/step/step-add.png" alt="添加" width="100%">
                    </li>
                </ul>
                <em class="color-6d">新的办公方式，新的工作模式，打破传统...</em>
            </div>
        </main>
    </ion-content>
    <footer class="bar bar-footer step-footer pointer" ng-click="create()">
        <div class="title">
            <a>
                <img ng-if="ItemList === false" src="../img/step/step-save1.png" alt="保存">
                <img ng-if="ItemList === true" src="../img/step/step-save2.png" alt="保存">
                <span ng-class="ItemList ? '' : 'color-88'">保存我的点子</span>
            </a>
        </div>
    </footer>
</ion-view>