<ion-view view-title="编辑完善创意">
    <header class="bar bar-header bg-pink step-header">
        <a hna-goback class="ion-ios-arrow-left font-24 color-white" nav-direction="back"></a>
        <h1 class="title color-grey">编辑完善创意</h1>
    </header>
    <ion-content>
        <main id="step-4">
            <div id="step-title" class="step-public">
                <input class="step-public-input" type="text" ng-show="titleShow == true" ng-model="formdata.title"  maxlength="40" placeholder="用一句话描述你的创意">
                <em class="step-public-em" ng-click="edit(0)" ng-show="titleShow != true">
                    <i class="step-public-i"></i>用一句话描述你的创意
                    <span class="step-public-span">(点击输入)</span>
                </em>
            </div>

            <div class="swiper-container bg-ff" id="swiper-step2">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide swiper-item" ng-repeat="item in ItemContent.photos">
                        <ion-spinner class="step-loading" ng-hide="loading == false" icon="ios"></ion-spinner>
                        <img src="../img/step/step-default2.jpg" ng-src="{{item.url}}" width="100%" />
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>

            <div id="step-description" class="step-public">
                <em class="step-public-em" ng-click="edit(1)">
                    <i class="step-public-i"></i>详细描述你的创意
                    <span class="step-public-span">(点击编辑)</span>
                </em>
            </div>
            <div class="step-description" ng-click="edit(1)">
                <textarea class="step-public-textarea" auto-Expanding ng-readonly="descriptionShow != true" ng-model="formdata.description" maxlength="135" placeholder="用一句话描述你的创意"></textarea>
            </div>

            <div id="step-tag" class="step-public">
                <em class="step-public-em">
                <i class="step-public-i"></i>给你的创意加个标签吧
                <span class="step-public-span">(可多选)</span>
            </em>
            </div>
            <div id="step-tag-list">
                <button class="button-init" ng-repeat="item in tagList" ng-click="tagArr(item.id)">#&nbsp;<span ng-bind="item.name"></span></button>
                <!-- <button class="button-init button-red" ng-click="addNew = true">+&nbsp;添加新标签</button>
                <div id="tag-addNew" class="row" ng-show="addNew == true">
                    <input type="text" class="col col-60" ng-model="tag" placeholder="请输入标签内容">
                    <button class="col col-20 button-init button-red" ng-click="addNew = false">添加</button>
                </div> -->
            </div>
        </main>
    </ion-content>
    <footer class="bar bar-footer step-footer pointer" ng-click="release()" nav-direction="forward">
        <div class="title">
            <a>
                <img src="../img/step/step-fabu.png" alt="发布">
                <span>&nbsp;发布</span>
            </a>
        </div>
    </footer>

</ion-view>
