<header class="bar bar-header bg-pink step-header">
    <a ui-sref="user" class="ion-android-close color-white"></a>
    <h1 class="title color-grey">记录新点子2</h1>
</header>
<main id="step-1" class="content has-header">
    <div id="imgUpload">
        <img class="pointer" src="../img/step/step-photo.png" alt="上传图片" width="100%" ng-click="photoUpload($event)">
        <input id="photoUpload" type="file" name="photo" ng-model="photo" onChange="photoChange(event)" accept="image/*" ng-show="false">
    </div>
    <textarea placeholder="在此记录你的灵感..." ng-model="description" ng-trim="true" ng-required="true" required></textarea>
</main>
<footer class="bar bar-footer step-footer pointer">
    <div class="title">
        <img src="../img/step/iconfont-save.png" alt="保存">
        <a ui-sref="step-2" class="color-88">保存我的点子</a>
    </div>
</footer>

       