<ion-view>
    <header class="bar bar-header bg-pink step-header">
        <a ui-sref="step-1" class="ion-android-close color-white"></a>
        <h1 class="title color-grey">创意编辑</h1>
    </header>
    <ion-content>
        <main id="step-2" class="content has-header">
            <input id="photoUpload2" type="file" accept="image/*" ng-show="true" nv-file-select uploader="uploader">
            <ul>
                <li ng-repeat="item in uploader.queue">
                    <button id="automatic-upload2" ng-click="item.upload()" ng-show="false">上传</button>
                </li>
            </ul>
            <div>
                <ul class="step-container clearfix">
                    <li class="step-item left" ng-repeat="item in ItemContent">
                        <img ng-src="{{item.url}}" ng-click="del(item.id)">
                        <img class="item-del" src="../img/step/step-close.png" alt="删除" ng-click="del(item.id)" width="12" height="12">
                    </li>
                    <li class="step-item left" ng-click="photoUpload()" ng-show="addShow == true">
                        <img src="../img/step/step-add.png" width="100%" alt="添加">
                    </li>
                    <li class="spinners">
                        <ion-spinner class="step-loading" icon="ios"></ion-spinner>
                    </li>
                </ul>
            </div>
            <textarea placeholder="在此记录你的灵感..." ng-trim="true" ng-model="formdata.description"></textarea>
        </main>
    </ion-content>
    <footer class="bar bar-footer step-footer pointer" ng-click="create()">
        <div class="title">
            <img src="../img/step/step-save2.png" alt="保存">
            <span>保存我的创意</span>
        </div>
    </footer>
</ion-view>