<ion-view cache-view="false" view-title="记录新创意">
    <ion-header-bar class="bg-pink step-header">
        <a ui-sref="innovation" class="ion-android-close color-white expand-touch-area" nav-direction="back"></a>
        <h1 class="title color-white">记录新创意</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer mg-b20" padding="true" has-bouncing="false">
        <main id="step-1" class="content">
            <div id="imgUpload">
                <div class="spinners" ng-show="loading == true">
                    <ion-spinner class="step-loading" icon="ios"></ion-spinner>
                </div>
                <img id="img-view" class="pointer" src="../img/step/step-photo.png" alt="上传图片" width="100%" ng-click="photoUpload()">

                <!-- <input id="photoUpload" type="file" accept="image/*" ng-show="true" nv-file-select uploader="uploader"> -->

                <button id="photoUpload" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-pattern="'image/*'" ngf-before-model-change="beforeChange($files)" ngf-fix-orientation="true" ngf-resize="{width: 1024, quality: .8}"  ngf-resize-if="$width > 1024" ngf-max-size="5MB"></button>

                <ul>
                    <li ng-repeat="item in uploader.queue">
                        <button id="automatic-upload" ng-click="item.upload()" ng-show="false">上传</button>
                    </li>
                </ul>
            </div>
            <div class="pd-b20">
                <textarea class="pd-15 mg-t10 bg-fb pd-t20" auto-Expanding placeholder="在此记录你的灵感..." ng-trim="true" ng-model="formdata.description" maxlength="135" ></textarea>
            </div>
        </main>
    </ion-content>
    <footer class="bar bar-footer step-footer pointer" ng-click="create()" >
        <div class="title">
            <img src="../img/step/step-save1.png" alt="保存">
            <span class="color-88">保存我的创意</span>
        </div>
    </footer>
</ion-view>
