<ion-view>
    <header class="bar bar-header bg-pink step-header">
        <a ui-sref="innovation" class="ion-android-close color-white"></a>
        <h1 class="title color-grey">记录新创意</h1>
    </header>
    <ion-content>
        <main id="step-1" class="content has-header">
            <div id="imgUpload">
                <div class="spinners" ng-show="loading == true">
                    <ion-spinner class="step-loading" icon="ios"></ion-spinner>
                </div>
                <img id="img-view" class="pointer" src="../img/step/step-photo.png" alt="上传图片" width="100%" ng-click="photoUpload()">
                <input id="photoUpload" type="file" accept="image/*" ng-show="true" nv-file-select uploader="uploader">
                <ul>
                    <li ng-repeat="item in uploader.queue">
                        <button id="automatic-upload" ng-click="item.upload()" ng-show="false">上传</button>
                    </li>
                </ul>
            </div>
            <textarea placeholder="在此记录你的灵感..." ng-trim="true" ng-model="formdata.description"></textarea>
        </main>
    </ion-content>
    <footer class="bar bar-footer step-footer pointer" ng-click="create()">
        <div class="title">
            <img src="../img/step/step-save1.png" alt="保存">
            <span class="color-88">保存我的创意</span>
        </div>
    </footer>
</ion-view>