
<ion-view view-title="我的获赞">
	<ion-content class="bg-f9">
		<div class="user-list-title bg-pink bg-img-left" onclick="history.go(-1)">
			<span class="font-18">我的获赞</span>
		</div>
		
		<div class="">
			<section class="border-tb mg-b10 pd-15 bg-ff">

				<ul class="user-list">
					<li class="border-0">	
						<div>
							<a ng-href="#">
								<img src="../img/user/list-1.jpg" width="110" height="75"/>
							</a>	
						</div>
						<div class="bg-f9">
							<p class="color-3d font-16 text-ellipsis text-title">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
							<p class="color-88 text-row2">
								基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求
							</p>									
						</div>
					</li>				
				</ul>				
			</section>

		</div>

	</ion-content>
</ion-view>
