<ion-view view-title="我的获赞">
  <ion-content class="bg-f9">
    <div class="user-list-title bg-pink bg-img-left" ui-sref="user" >
      <span class="font-18">我的获赞</span>
    </div>

    <div ng-show="likedProjects.length === 0" class="color-pink pd-15" ng-bind="::NO_LIKED">
    </div>

    <div ng-show="likedProjects.length > 0">
      <ul class="user-list2 bg-f9">
        <li class="bg-ff" ng-repeat="likedProject in ::likedProjects" ui-sref="detail({ projectId: likedProject.targetId })" >
          <div>
            <div class="user-list2-img">
              <a ng-href="#" class="left">
                <img ng-src="{{ likedProject.images[0] }}" width="42" height="42"/>
              </a>
            </div>
            <div class="user-list2-text">
              <p class="color-3d mg-b0 text-title2" ng-bind="likedProject.name"></p>
              <p class="color-88 text-bottom2 mg-b0 font-12" ng-bind="likedProject.latestCreatedDate"></p>
            </div>
          </div>
          <div class="bg-f9">
            <i class="if i-collect color-6d font-20"></i>
            <!--<small ng-bind="likedProject.unreadLikeCount"></small>-->
            <p class="text-center mg-b0 color-6d" ng-bind="likedProject.likeCount"></p>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
