
<ion-view view-title="我评论的">
	<ion-content class="bg-f9">
		<div class="user-list-title bg-pink bg-img-left" ng-click="goUser()">
			<span class="font-18">我评论的</span>
		</div>
		<div class="">
			<section class="border-tb mg-b10 pd-15 bg-ff">
			    <ul class="box-table">
			        <li class="box-table-row" id="user-photo">
			        		<div class="box-table-cell" style="width: 40px;">
			        			<img src="../img/user/user.jpg" alt="头像" width="40" height="40" class="user-img">
			        		</div>
			        		<div class="box-table-cell pd-l10 pd-tb5">
				            <div id="user-name">
				                <span class="color-3d font-16">马涛</span>
				            </div>
				            <div class="color-a9">2016-10-09 11:42:38</div>
			        		</div>
			        </li>
			    </ul>
			    <div class="comment bg-f9 mg-b15">
			    		<div class="triangle-up"></div>
			    		<span class="color-6d">海航生态科技研究院海航生态海航生态科技研究院海航生态海航生态科技研究院海航生态</span>
			    </div>
				<ul class="user-list">
					<li class="border-0" ui-sref="detail({ projectid: '57d8e9718b41fa72217bf6c4'})">
						<div>
							<a ng-href="#">
								<img src="../img/user/list-1.jpg" width="110" height="75"/>
							</a>
						</div>
						<div class="bg-f9">
							<p class="color-3d font-16 text-ellipsis text-title">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
							<p class="color-88 text-row2">
								基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求
							</p>
						</div>
					</li>
				</ul>
			</section>

			<section class="border-tb mg-b10 pd-15 bg-ff">
			    <ul class="box-table">
			        <li class="box-table-row" id="user-photo">
			        		<div class="box-table-cell" style="width: 40px;">
			        			<img src="../img/user/user.jpg" alt="头像" width="40" height="40" class="user-img">
			        		</div>
			        		<div class="box-table-cell pd-l10 pd-tb5">
				            <div id="user-name">
				                <span class="color-3d font-16">马涛</span>
				            </div>
				            <div class="color-a9">2016-10-09 11:42:38</div>
			        		</div>
			        </li>
			    </ul>
			    <div class="comment bg-f9 mg-b15">
			    		<div class="triangle-up"></div>
			    		<span class="color-6d">海航生态科技研究院海航生态海航生态科技研究院海航生态海航生态科技研究院海航生态</span>
			    </div>
				<ul class="user-list">
					<li class="border-0" ui-sref="detail({ projectid: '57d8e9718b41fa72217bf6c4'})">
						<div>
							<a ng-href="#">
								<img src="../img/user/list-1.jpg" width="110" height="75"/>
							</a>
						</div>
						<div class="bg-f9">
							<p class="color-3d font-16 text-ellipsis text-title">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
							<p class="color-88 text-row2">
								基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求
							</p>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</ion-content>
</ion-view>
