
<ion-view view-title="">
	<ion-content>
		<div class="user-list-title bg-pink">
			<div class="user-edit-cancel" ng-click="cancel()"></div>
			<span class="font-18">编辑{{::info.text}}</span>
			<div class="user-edit-save" ng-click="save()"></div>
		</div>
		<div class="pd-10">
			<span class="user-edit-text-area-max">最大长度为{{::info.length}}个字哦~</span>
			<textarea placeholder="请填写您的{{::info.text}}..." class="user-edit-text-area"
					maxlength="{{::info.length}}"
			 		ng-model="userInfo[info.target]"
					ng-trim="true">
			</textarea>
		</div>
	</ion-content>
</ion-view>
