
<ion-view view-title="草稿箱">
	<ion-content class="bg-fb">
		<div class="user-list-title bg-pink">
			<span>草稿箱</span>
		</div>
		
		<div class="pd-10">
			<ul class="user-list">
				<li>
					<div>
						<a ng-href="#">
							<img src="../img/user/list-1.jpg" width="110" height="75"/>
						</a>		
					</div>
					<div>
						<p class="color-3d font-16">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
						<p class="color-88 text-bottom">
							<i class="if i-time"></i>
							<span>2016-10-08 17:24:36</span>
						</p>									
					</div>
				</li>
				<li>
					<div>
						<a ng-href="#">
							<img src="../img/user/list-1.jpg" width="110" height="75"/>
						</a>		
					</div>
					<div>
						<p class="color-3d font-16">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
						<p class="color-88 text-bottom">
							<i class="if i-time"></i>
							<span>2016-10-08 17:24:36</span>
						</p>									
					</div>
				</li>
				<li>
					<div>
						<a ng-href="#">
							<img src="../img/user/list-1.jpg" width="110" height="75"/>
						</a>		
					</div>
					<div>
						<p class="color-3d font-16">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
						<p class="color-88 text-bottom">
							<i class="if i-time"></i>
							<span>2016-10-08 17:24:36</span>
						</p>									
					</div>
				</li>				
			</ul>			
		</div>

	</ion-content>
</ion-view>
