
<ion-view view-title="草稿箱">
	<ion-content class="bg-fb">
		<section class="pd-10">
			<ul class="box-table user-list">
				<li class="box-table-row">
					<div class="box-table-cell">
						<a ng-href="#">
							<img src="../img/user/list-1.jpg" width="110" height="75"/>
						</a>		
					</div>
					<div class="box-table-cell">
						<p>基于大数据和人工智能的需求</p>
						<p></p>
						<p>
							<i class="if i-time"></i>
							<span>2016-10-08 17:24:36</span>
						</p>
					</div>
				</li>
			</ul>			
		</section>

	</ion-content>
</ion-view>
