<ion-view view-title="我评论的">
    <ion-content class="bg-f9">
        <div class="user-list-title bg-pink bg-img-left" ui-sref="user" >
            <span class="font-18">我评论的</span>
        </div>
        <div ng-show="comments.length === 0" class="color-pink pd-15" ng-bind="::NO_COMMENTS">
        </div>
        <div ng-show="comments.length > 0">
            <section class="border-tb mg-b10 pd-15 bg-ff" ng-repeat="comment in ::comments">
                <ul class="box-table">
                    <li class="box-table-row" id="user-photo">
                        <div class="box-table-cell" style="width: 40px;">
                            <img src="../img/face/4.png" alt="头像" width="40" height="40" class="user-img">
                        </div>
                        <div class="box-table-cell pd-l10 pd-tb5">
                            <div id="user-name">
                                <span class="color-3d font-16" ng-bind="comment.userName" ></span>
                            </div>
                            <div class="color-a9" ng-bind="comment.time" ></div>
                        </div>
                    </li>
                </ul>
                <div class="comment bg-f9 mg-b15">
                    <div class="triangle-up"></div>
                    <span class="color-6d" ng-bind="comment.content"></span>
                </div>
                <ul class="user-list">
                    <li class="border-0" ui-sref="detail({ projectid: '57d8e9718b41fa72217bf6c4'})">
                        <div>
                            <a href="javascript:;">
                                <img ng-src="{{ comment.images[0] }}" width="110" height="75" />
                            </a>
                        </div>
                        <div class="bg-f9">
                            <p class="color-3d font-16 text-ellipsis text-title" ng-bind="comment.projectName" ></p>
                            <p class="color-88 text-row2" ng-bind="comment.description">
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </ion-content>
</ion-view>