
<ion-view view-title="编辑个人中心">
	<ion-content>
		<div class="user-list-title bg-pink bg-img-reomve" hna-goback>
			<span class="font-18">编辑个人中心</span>
		</div>
		
		<ul class="pd-10 user-edit">
			<li>
				<div>姓名：</div>
				<input type="text"  class="input-edit" placeholder="未填写" autocomplete="on"/>
			</li>
			<li>
				<div>公司：</div>
				<input type="text"  class="input-edit" placeholder="未填写" autocomplete="on"/>
			</li>
			<li>
				<div>兴趣：</div>
				<input type="text"  class="input-edit" placeholder="未填写" autocomplete="on"/>
			</li>
			<li>
				<div>公司：</div>
				<input type="text"  class="input-edit" placeholder="未填写" autocomplete="on"/>
			</li>			
		</ul>

	</ion-content>
</ion-view>

