
<ion-view view-title="我的资源">
	<ion-content class="bg-fb">
		<div class="user-list-title bg-pink bg-img-left" hna-goback>
			<span class="font-18">我的资源</span>
		</div>

		<div class="pd-10">
			<ul class="list-img list-img-medium">
				<li ui-sref="detail-page-resource">
					<div>
						<a>
							<img src="../img/user/list-1.jpg" width="130" height="90"/>
						</a>		
					</div>
					<div>
						<p class="color-3d font-14 text-ellipsis text-title">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
						<div class="font-10">
							<a class="tag tag-lan mg-b0">科技</a>
							<a class="tag tag-lan mg-b0">科技</a>
						</div>
						<p class="color-88 text-bottom">
							<span>
								<img src="../img/home/home-love2.png" width="15" />123
							</span>
							<span class="pd-l10">
								<img src="../img/star1.png"  width="15"/>123
							</span>
							<span class="pd-l10">
								<img src="../img/home/home-comment.png"  width="15"/>123
							</span>
						</p>					
					</div>
				</li>
				<li ui-sref="detail-page-resource">
					<div>
						<a>
							<img src="../img/user/list-1.jpg" width="130" height="90"/>
						</a>		
					</div>
					<div>
						<p class="color-3d font-14 text-ellipsis text-title">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
						<div class="font-10">
							<a class="tag tag-lan mg-b0">科技</a>
							<a class="tag tag-lan mg-b0">科技</a>
						</div>						
						<p class="color-88 text-bottom">
							<span>
								<img src="../img/home/home-love.png" width="15" />123
							</span>
							<span class="pd-l10">
								<img src="../img/star.png"  width="15"/>123
							</span>
							<span class="pd-l10">
								<img src="../img/home/home-comment.png"  width="15"/>123
							</span>
						</p>						
					</div>
				</li>			
			</ul>			
		</div>

	</ion-content>
</ion-view>
