
<ion-view view-title="我的获赞">
	<ion-content class="bg-f9">
		<div class="user-list-title bg-pink bg-img-left" onclick="history.go(-1)">
			<span class="font-18">我的获赞</span>
		</div>
		
		<ul class="user-list2 bg-f9">
			<li class="bg-ff">	
				<div>
					<div class="user-list2-img">
						<a ng-href="#" class="left">
							<img src="../img/user/list-1.jpg" width="42" height="42"/>
						</a>								
					</div>
					<div class="user-list2-text">
						<p class="color-3d mg-b0 text-title2">基于大数据和人工智能据和人工智能的需求基于大数据和人工智能据和人工智能的需求</p>
						<p class="color-88 text-bottom2 mg-b0 font-12">2016-10-09 16:46</p>	
					</div>
				</div>
				<div class="bg-f9">
					<i class="if i-collect color-6d font-20"></i>
					<p class="text-center mg-b0 color-6d">2</p>
				</div>
			</li>
			
			<li class="bg-ff">	
				<div>
					<div class="user-list2-img">
						<a ng-href="#" class="left">
							<img src="../img/user/list-1.jpg" width="42" height="42"/>
						</a>								
					</div>
					<div class="user-list2-text">
						<p class="color-3d mg-b0 text-title2">基于大数据和人工智能据和人工智能的需求基于大数据和人工智能据和人工智能的需求</p>
						<p class="color-88 text-bottom2 mg-b0 font-12">2016-10-09 16:46</p>	
					</div>
				</div>
				<div class="bg-f9">
					<i class="if i-aixinhover color-pink font-20"></i>
					<span class="newlike color-pink">+1</span>
					<p class="text-center mg-b0 color-6d text-ellipsis">9999</p>
				</div>
			</li>
			
			<li class="bg-ff">	
				<div>
					<div class="user-list2-img">
						<a ng-href="#" class="left">
							<img src="../img/user/list-1.jpg" width="42" height="42"/>
						</a>								
					</div>
					<div class="user-list2-text">
						<p class="color-3d mg-b0 text-title2">基于大数据和人工智能据和人工智能的需求基于大数据和人工智能据和人工智能的需求</p>
						<p class="color-88 text-bottom2 mg-b0 font-12">2016-10-09 16:46</p>	
					</div>
				</div>
				<div class="bg-f9">
					<i class="if i-aixinhover color-pink font-20"></i>
					<span class="newlike color-pink">+1</span>
					<p class="text-center mg-b0 color-6d text-ellipsis">9999</p>
				</div>
			</li>				
		</ul>
	</ion-content>
</ion-view>
