
<ion-view view-title="我评论的">
	<ion-content>
		<div class="user-list-title bg-pink bg-img-left" onclick="history.go(-1)">
			<span class="font-18">我评论的</span>
		</div>
		
		<div class="pd-10">
		    <ul class="box-table">
		        <li class="box-table-row" id="user-photo">
		        		<div class="box-table-cell" style="width: 40px;">	
		        			<img src="../img/user/user.jpg" alt="头像" width="40" height="40" class="user-img"> 					 
		        		</div>
		        		<div class="box-table-cell pd-l10 pd-tb5">
			            <div id="user-name">
			                <span class="color-3d font-16">马涛&nbsp;&bull;</span>
			                <span class="color-6d">海航生态科技研究院</span>&#x3000;
			                <span class="color-6d">项目经理</span>
			            </div>
			            <div class="color-a9">2016-10-09 11:42:38</div>
		        		</div>
		        </li>
		    </ul>
		    <div class="comment bg-f9 mg-b15">
		    		<div class="triangle-up"></div>
		    		<span class="color-6d">海航生态科技研究院海航生态海航生态科技研究院海航生态海航生态科技研究院海航生态</span>
		    </div>
			<ul class="user-list">
				<li class="border-0">	
					<div>
						<a ng-href="#">
							<img src="../img/user/list-1.jpg" width="110" height="75"/>
						</a>	
					</div>
					<div class="bg-fb">
						<p class="color-3d font-16 text-ellipsis text-title">基于大数据和人工智能的需求基于大数据和人工智能的需求</p>
						<p class="color-88 text-row2">
							基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求基于大数据和人工智能的需求
						</p>									
					</div>
				</li>				
			</ul>			
		</div>

	</ion-content>
</ion-view>
