<div class="bar bar-footer home-footer">
    <div class="button button-clear button-left" ui-sref="innovation" ui-sref-active="active">
        <img src="../img/find.png" alt="">
        <span>{{'home-footer.find-innovation' | translate }}</span>
    </div>

    <div class="title" ui-sref="step-1">
        <img src="../img/add.png" >
    </div>

    <div class="button button-clear button-right" ui-sref="explore-resources.experts" ui-sref-active="active">
        <img src="../img/find.png" alt=""> {{'home-footer.find-resource' | translate }}
    </div>
</div>
