<div class="index-footer bar bar-footer home-footer">
    <div class="button button-clear button-left" ui-sref="innovation" nav-direction="forward" ui-sref-active="active">
        <i class="if i-eye font-24"></i>
        <span class="find-resource">{{'home-footer.find-innovation' | translate }}</span>
    </div>

    <div class="title expand-touch-area" ui-sref="step-1">
        <i class="icon ion-ios-plus btn-add"></i>
    </div>

    <div class="button button-clear button-right" ui-sref="explore-resources.experts" nav-direction="forward" ui-sref-active="active">
        <i class="if i-eye font-24"></i> <span class="find-resource">{{'home-footer.find-resource' | translate }}</span>
    </div>
</div>
