<div class="index-header bar bar-header">
    <div class="bar-user-header pd-l10 pd-tb5 expand-touch-area" ui-sref="user" nav-direction="forward">
        <i class="if i-ren color-dark-pink font-24" ng-if="!isLogin()"></i>
        <img ng-src="{{userHeaderIcon}}" class="user-header-icon radius" ng-if="isLogin()">
    </div>

    <div class="h1 title">
        <div class="logo">
            <img src="../img/logo.png?v_02">
        </div>
    </div>

    <div class="button button-img">
      <a class="expand-touch-area pd-r15" ng-click="slideUpInterest()" >
        <i class="ion ion-ios-settings-strong font-20 color-pink"></i>
      </a>
      <a class="expand-touch-area" ui-sref="search" nav-direction="forward">
        <i class="ion ion-ios-search-strong font-20 color-pink"></i>
      </a>
    </div>
</div>
