<div class="bar bar-header">
    <div class="bar-user-header pd-l5 expand-touch-area" ui-sref="user" nav-direction="forward">
      <img ng-src="{{userHeaderIcon}}" class="user-header-icon-default radius" ng-class="{true: 'user-header-icon-default', false: 'user-header-icon'}[userHeaderIcon == userHeaderIconDefault]" >
    </div>

    <div class="h1 title">
        <div class="logo">
            <img src="../img/logo.png?v_02">
        </div>
    </div>

    <div class="button button-img">
      <a class="expand-touch-area" ng-click="slideUpInterest()" >
        <img src="../img/interest.png" alt="喜好">
      </a>
      <a class="expand-touch-area" ui-sref="search" nav-direction="forward">
        <img src="../img/search.png" alt="搜索">
      </a>
    </div>
</div>
