
<ion-view cache-view="false" view-title="个人主页">
	<ion-content class="other-user bg-fb">
    <header class="user-header">
      <div id="user-bar">
        <div id="user-bar-left" class="mg-t10">
          <a class="expand-touch-area" hna-goback nav-direction="back">
            <i class="if i-fa-angle-left font-24 color-white"></i>
          </a>
        </div>
      </div>
          <div class="user-header-icon">
            <img ng-src="{{userInfo.headerIcon}}" alt="头像" width="80" height="80" class="user-img">
          </div>
    </header>

    <div class="user-info color-3d font-12">
      <div>
        <span class="font-16" ng-bind="userInfo.nickName"></span>
        <span id="user-company"  ng-bind="userInfo.company" ng-if="userInfo.company"></span>
      </div>
      <div ng-if="userInfo.hobby">兴趣:<span  class="pd-l5" ng-bind="userInfo.hobby"></span></div>
      <div ng-if="userInfo.speciality">特长:<sapn  class="pd-l5" ng-bind="userInfo.speciality"></sapn></div>
    </div>

    <main>
      <div class="font-16 pd-l10 pd-t10 pd-b5 bg-ff color-3d clearfix">发布动态</div>
      <div>
      <ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs>
        <ion-slide ion-slide-tab-label="发布的创意" class="font-14">
          <ul class="mg-t10">
            <li class="user-common-list border-solid mg-b10 bg-ff" ng-repeat="project in ::userInfo.projects">
              <div ui-sref="detail({ projectId: project.id})" nav-direction="forward">
                <img ng-src="{{ ::project.images[0] }}" alt="创意图片" width="130" height="90" class="left mg-r10" />
                <div class="detail font-14 clearfix">
                  <div class="mg-t5 text-ellipsis color-3d" ng-bind="::project.name"></div>
                  <p class="text-description font-12 color-88" ng-bind="project.description"></p>
                  <span class="color-88 right pd-r10 mg-b5">
                      <span><i class="ion ion-ios-heart-outline"></i><small class="pd-l5" ng-bind="project.likeCount"></small></span>
                      <span><i class="if i-xiaoxi"></i><small class="pd-l5" ng-bind="project.commentCount"></small></span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </ion-slide>
        <ion-slide ion-slide-tab-label="发布的资源">
          <ul class="mg-t10">
            <li class="user-common-list border-solid mg-b10 bg-ff" ng-repeat="project in ::userInfo.projects">
              <div ui-sref="detail({ projectId: project.id})" nav-direction="forward">
                <img ng-src="{{ ::project.images[0] }}" alt="创意图片" width="130" height="90" class="left mg-r10" />
                <div class="detail font-14 clearfix">
                  <div class="mg-t5 text-ellipsis color-3d" ng-bind="::project.name"></div>
                  <p class="text-description font-12 color-88" ng-bind="project.description"></p>
                  <span class="color-88 right pd-r10 mg-b5">
                      <span><i class="ion ion-ios-heart-outline"></i><small class="pd-l5" ng-bind="project.likeCount"></small></span>
                      <span><i class="if i-xiaoxi"></i><small class="pd-l5" ng-bind="project.commentCount"></small></span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </ion-slide>
      </ion-slide-box>
      </div>
    </main>
  </ion-content>
</ion-view>
