
<ion-view cache-view="false" view-title="我的收藏">
	<ion-content class="bg-f9">
		<div class="user-list-title bg-pink bg-img-left" ui-sref="user" nav-direction="back">
			<span class="font-18">我的收藏</span>
		</div>

        <section>
          <div class="border-tb mg-b10" ng-repeat="favoriteProject in favoriteProjects">
            <ul class="box-table bg-ff">
                  <li class="box-table-row" id="user-photo">
                      <div class="box-table-cell pd-l15 pd-tb" style="width: 40px;">
                        <img ng-src="{{ favoriteProject.creator.headerIcon }}" alt="头像" width="30" height="30" class="user-img border-0">
                      </div>
                      <div class="box-table-cell pd-l10 pd-tb line-30">
                       <span class="color-3d font-16" ng-bind="favoriteProject.creator.nickName"></span>
                     </div>
                  </li>
              </ul>
            <ul class="user-list3 bg-f9">
              <li class="bg-ff pd-l15 pd-b15" ui-sref="detail({ projectId: favoriteProject.id })" nav-direction="forward">
                <div>
                  <a ng-href="#">
                    <img ng-src="{{ favoriteProject.images[0] }}" width="42" height="42"/>
                  </a>
                </div>
                <div>
                  <p class="color-3d mg-b0 text-ellipsis" ng-bind="favoriteProject.name"></p>
                  <p class="color-88 mg-b0 font-12">
                    <small class="if i-time font-12"></small>
                    <span ng-bind="favoriteProject.createdDate">&nbsp;</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <load-more
            on-load-more="getFavoriteProjects()"
            has-more-data="hasMoreData">
          </load-more>

        </section>
    <div class="center mg-t20" ng-if="favoriteProjects.length === 0">
      <img src="../img/empty.svg">
      <div class="mg-t10" ng-bind="attentionMsg"></div>
    </div>

	</ion-content>
</ion-view>
