<ion-view cache-view="false" view-title="我的获赞">
  <ion-header-bar>
    <div class="user-list-title bg-pink bg-img-left" ui-sref="user" nav-direction="back">
      <span class="font-18">我的获赞</span>
    </div>
  </ion-header-bar>

  <ion-content class="bg-f9">
    <section>
      <div ng-if="likedProjects.length > 0">
        <ul class="user-list2 bg-f9">
          <li class="bg-ff" ng-repeat="likedProject in likedProjects">
              <div>
                <div class="user-list2-img">
                  <a ng-href="#" class="left">
                    <img ng-src="{{ likedProject.images[0] }}" width="42" height="42"/>
                  </a>
                </div>
                <div class="user-list2-text" ui-sref="detail({ projectId: likedProject.targetId })" nav-direction="forward">
                  <p class="color-3d mg-b0 text-title2" ng-bind="likedProject.name"></p>
                  <p class="color-88 text-bottom2 mg-b0 font-12" ng-bind="likedProject.latestCreatedDate"></p>
                </div>
              </div>
              <div class="bg-f9 newlike">
                <i class="if color-6d font-20"
                   ng-class="{true:'i-aixinhover color-red',false:'i-collect'}[likedProject.unreadLikeCount>0]"></i>
                <small class="font-12" ng-bind="likedProject.unreadLikeCount"
                       ng-if="likedProject.unreadLikeCount"></small>
                <p class="text-center mg-b0 color-6d font-14" ng-bind="likedProject.likeCount"></p>
              </div>
          </li>
        </ul>
      </div>
      <div class="center mg-t20" ng-if="!likedProjects || likedProjects === 0">
        <img src="../img/empty.svg">
        <div class="mg-t10" ng-bind="attentionMsg"></div>
      </div>
    </section>
  </ion-content>
</ion-view>
