
<ion-view cache-view="false" view-title="我的资源">
  <ion-header-bar>
    <div class="user-list-title bg-pink bg-img-left" ui-sref="user" nav-direction="back">
      <span class="font-18">我的资源</span>
    </div>
  </ion-header-bar>

	<ion-content class="bg-fb">
		<div class="pd-10">
			<ul class="list-img list-img-medium">
				<li ui-sref="detail-page-resource" nav-direction="forward">
					<div>
						<a>
							<img src="../img/resources/tech/resource-1-thumb.jpg" width="130" height="90"/>
						</a>
					</div>
					<div>
						<p class="color-3d font-14 text-ellipsis text-title">大数据营销服务</p>
						<div class="font-10">
							<a class="tag tag-lan mg-b0">软件资源</a>
							<a class="tag tag-lan mg-b0">大数据</a>
							<a class="tag tag-lan mg-b0">营销</a>
						</div>
						<p class="color-88 text-bottom">
							<span>
								<img src="../img/home/home-love2.png" width="15" />123
							</span>
							<span class="pd-l10">
								<img src="../img/star1.png"  width="15"/>12
							</span>
							<span class="pd-l10">
								<img src="../img/home/home-comment.png"  width="15"/> 23
							</span>
						</p>
					</div>
				</li>
			</ul>
		</div>

	</ion-content>
</ion-view>
