
<ion-view cache-view="false" view-title="个人中心">
	<ion-content class="bg-fb">
		<header id="user-header" >
		    <div id="user-bar">
		        <div id="user-bar-left">
                    <a class="expand-touch-area" ui-sref="innovation" nav-direction="back">
                       <i class="if i-zhuye font-24 color-white"></i>
                    </a>
		        </div>

		        <div id="user-bar-right">
                    <a ui-sref="user-edit" class="user-edit-link expand-touch-area" nav-direction="forward">
                        <i class="if i-edit font-16 color-white pd-r5"></i>
                        <span class="color-white">编辑个人中心</span>
                    </a>
		        </div>
		    </div>
		    <ul class="box-table">
		        <li class="box-table-row" id="user-photo">
					<div class="box-table-cell" style="width: 80px;">
						<img ng-src="{{userHeaderIcon || userDefaultHeader }}" alt="头像" width="80" height="80" class="user-img">
					</div>
					<div class="box-table-cell pd-l10 color-white">
			            <div id="user-name" class="font-16 bold" ng-bind="userInfo.nickName" ng-if="userInfo.nickName">
			            </div>
			            <div id="user-company"  ng-bind="userInfo.company" ng-if="userInfo.company">
			            </div>
			            <div id="user-interest" >
			                <span class="block" ng-bind="userInfo.hobby" ng-if="userInfo.hobby"></span>
			                <span class="block" ng-bind="userInfo.speciality" ng-if="userInfo.speciality"></span>
			            </div>
		            </div>
		        </li>
		    </ul>
		</header>

		<main id="user-main" class="bg-fb">
		    <ul class="row user-row mg-b10 bg-ff">
		        <li class="col-25 text-center">
						<a ui-sref="user-innovations" nav-direction="forward">
			        		<p>
			        			<i class="if i-chuangyizhishixin font-30" style="color: #ffab3c;"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-innovation' | translate }}</p>
			        		<p>
								<strong class="color-3d" ng-bind="::userExtensionInfo.projectCount"></strong>
			        		</p>
		        		</a>
		        </li>
		        <li class="col-25 text-center">
						<a ui-sref="user-resources" nav-direction="forward">
			        		<p>
								<i class="if i-pinglun1 font-20" style="color: #67af18;"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-resource' | translate }}</p>
			        		<p>
								<strong class="color-3d">1</strong>
			        		</p>
			        	</a>
		        </li>
		        <li class="col-25 text-center">
		        		<a ui-sref="user-favorite" nav-direction="forward">
			        		<p>
			        			<i class="if i-star1 font-20" style="color: #3ba5e4;"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-collection' | translate }}</p>
			        		<p>
								<strong class="color-3d" ng-bind="::userExtensionInfo.userfavoredCount"></strong>
			        		</p>
			        	</a>
		        </li>
		        <li class="col-25 text-center">
						<a ui-sref="user-like" nav-direction="forward">
			        		<p>
			        			<i class="if i-aixinhover font-18 color-red"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-praise' | translate }}</p>
			        		<p>
								<strong class="color-3d">
									<span ng-bind="::userExtensionInfo.userlikedCount"></span>
									<small ng-bind="userExtensionInfo.unreadUserlikedCount" ng-show="userExtensionInfo.unreadUserlikedCount > 0"></small>
                                    <i class="if i-chat-qipao color-e8 user-like_qipao"></i>
								</strong>
			        		</p>
			        	</a>
		        </li>
		    </ul>

		    <div class="business-row mg-b10 bg-ff pd-l15">
					<a ui-sref="user-joined-innovations" nav-direction="forward">
					<i class="if i-aixin font-24 color-3d"></i>
					<strong class="color-3d">我参与的创意</strong>
					<span class="color-88 pd-l10">查看你参与的创意项目</span>
		    		</a>
		    </div>

		    <div class="business-row mg-b10 bg-ff pd-l15">
			    	<a ui-sref="user-comment.received" nav-direction="forward" ui-sref-active="active">
					<i class="if i-xiaoxi font-24 color-3d"></i>
					<strong class="color-3d">我的评论</strong>
					<span class="color-88 pd-l10">查看你的所有评论</span>
				</a>
		    </div>

		    <div class="business-row mg-b10 bg-ff pd-l15">
			    <a ui-sref="user-messages" nav-direction="forward" ui-sref-active="active">
					<i class="if i-siliao font-24 color-3d"></i>
					<strong class="color-3d">我的私信</strong>
                    <span ng-if="userExtensionInfo.unreadMessageCount > 0 ">
                         <small class="color-red font-24 small-radio">&bull;</small>
                         <span class="color-88 pd-l10">你有 <span ng-bind="::userExtensionInfo.unreadMessageCount"> </span> 条未读消息</span>
                    </span>
                    <span class="color-88 pd-l10" ng-if="userExtensionInfo.unreadMessageCount == 0">查看你的所有私信</span>
				</a>
		    </div>

		    <div class="business-row mg-b10 bg-ff pd-l15">
		    		<a ui-sref="user-draft" nav-direction="forward">
					<i class="if i-caogaoxiang font-24 color-3d"></i>
					<strong class="color-3d">草稿箱</strong>
					<span class="color-88 pd-l10">你有一共有 <span ng-bind="::userExtensionInfo.userDraftCount"></span> 个创意草稿</span>
		    		</a>
		    </div>

				<div class="business-row mg-b10 bg-ff pd-l15">
				  <label class="user-language item item-select">
				    <span>
				      <i class="if ion-ios-world-outline font-24 color-3d"></i>
				      <strong class="color-3d">&nbsp;语言</strong>
				    </span>
						<select ng-model="currentLanguage"
              ng-options="option.name for option in languages track by option.key"
							ng-change="setLangugage(currentLanguage)"></select>
				  </label>
				</div>

		    <div class="user-logout">
		    	<button class="button button-clear button-positive" ng-click="logout()">
		    		退出登录
				</button>
		    </div>
		</main>

	</ion-content>
</ion-view>
