
<ion-view view-title="草稿箱">
	<ion-content class="bg-fb">
		<div class="user-list-title bg-pink bg-img-left" ui-sref="user">
			<span class="font-18">草稿箱</span>
		</div>

    <div class="center mg-t20" ng-if="!drafts || drafts.length === 0">
      <img src="../img/empty.svg">
      <div class="mg-t10" ng-bind="attentionMsg"></div>
    </div>

    <div class="pd-10" ng-if="drafts.length > 0">
			<ul class="user-list">
				<li ng-repeat="draft in ::drafts" ng-click="goStep3(draft.id)" >
					<div>
						<a>
							<img ng-src="{{ draft.images[0] }}" width="110" height="75"/>
						</a>
					</div>
					<div>
						<p class="color-3d font-16 text-ellipsis text-title" ng-bind="draft.description" ></p>
						<p class="color-88 text-bottom">
							<small class="if i-time font-12"></small>
							<small ng-bind="draft.updatedDate" ></small>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
