
<ion-view cache-view="false" view-title="我参与的创意">
  <ion-header-bar>
    <div class="user-list-title bg-pink bg-img-left" ui-sref="user" nav-direction="back">
      <span class="font-18">我参与的创意</span>
    </div>
  </ion-header-bar>

	<ion-content class="bg-fb">
		<ul class="creative-list pd-10">
			<li ng-repeat="project in projects">
				<div ui-sref="detail({ projectId: project.id})" nav-direction="forward">
					<div>
						<a>
							<img ng-src="{{ ::project.images[0] }}"/>
						</a>
					</div>
					<div class="info">
						<p class="border-b1 text-title2" ng-bind="::project.name"></p>
						<p class="color-88">
							<small class="if i-time font-12"></small>
							<small ng-bind="::project.createdDate" ></small>
						</p>
					</div>
				</div>
			</li>
		</ul>
		<div class="empty center" ng-if="projects.length === 0">
			<img src="../img/empty.svg">
			<div class="mg-t10" ng-bind="attentionMsg"></div>
		</div>
	</ion-content>
</ion-view>
