
<ion-view view-title="个人中心">
	<ion-content class="bg-fb">
		<header id="user-header">
		    <div id="user-bar">
		        <div id="user-bar-left">
		        		<a href="#innovation">
		        			<img src="../img/user/iconfont-shouye.png" alt="主页" width="24" height="22">
		        		</a>
		        </div>

		        <div id="user-bar-right">
						<a ng-href="#user-edit" class="user-edit-link" >
			            <img src="../img/user/edit.png" alt="编辑" width="12">
			            <span class="color-white">编辑个人中心</span>
		        		</a>
		        </div>
		    </div>
		    <ul class="box-table">
		        <li class="box-table-row" id="user-photo">
					<div class="box-table-cell" style="width: 80px;">
						<img ng-src="{{userInfo.headerIcon || userDefaultHeader }}" alt="头像" width="80" height="80" class="user-img">
					</div>
					<div class="box-table-cell pd-l10 color-white">
			            <div id="user-name" style="color: white;" ng-bind="userInfo.nickName" ng-if="userInfo.nickName">
			            </div>
			            <div id="user-company"  ng-bind="userInfo.company" ng-if="userInfo.company">
			            </div>
			            <div id="user-interest" >
			                <span class="block" ng-bind="userInfo.hobby" ng-if="userInfo.hobby"></span>
			                <span class="block" ng-bind="userInfo.speciality" ng-if="userInfo.speciality"></span>
			            </div>
		            </div>
		        </li>
		    </ul>
		</header>

		<main id="user-main" class="bg-fb">
		    <ul class="row user-row mg-b10 bg-ff">
		        <li class="col-25 text-center">
						<a href="#user-innovations">
			        		<p>
			        			<i class="if i-chuangyizhishixin font-30" style="color: #ffab3c;"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-innovation' | translate }}</p>
			        		<p>
								<strong class="color-3d" ng-bind="::userExtensionInfo.projectCount"></strong>
			        		</p>
		        		</a>
		        </li>
		        <li class="col-25 text-center">
						<a href="#user-resources">
			        		<p>
								<i class="if i-pinglun1 font-20" style="color: #67af18;"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-resource' | translate }}</p>
			        		<p>
								<strong class="color-3d">26</strong>
			        		</p>
			        	</a>
		        </li>
		        <li class="col-25 text-center">
		        		<a href="#user-favorite">
			        		<p>
			        			<i class="if i-star1 font-20" style="color: #3ba5e4;"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-collection' | translate }}</p>
			        		<p>
								<strong class="color-3d" ng-bind="::userExtensionInfo.userfavoredCount"></strong>
			        		</p>
			        	</a>
		        </li>
		        <li class="col-25 text-center">
						<a href="#user-like">
			        		<p>
			        			<i class="if i-aixinhover font-18 color-red"></i>
			        		</p>
			        		<p class="color-3d">{{'user.my-praise' | translate }}</p>
			        		<p>
								<strong class="color-3d">
									<span ng-bind="::userExtensionInfo.userlikedCount"></span>
									<small ng-bind="userExtensionInfo.unreadUserlikedCount" ng-show="userExtensionInfo.unreadUserlikedCount > 0"></small>
								</strong>
			        		</p>
			        	</a>
		        </li>
		    </ul>

		    <div class="business-row mg-b10 bg-ff pd-l15">
					<a href="#user-joined-innovations">
					<i class="if ion-ios-heart-outline font-24 color-3d"></i>
					<strong class="color-3d">我参与的创意</strong>
					<!-- <small class="color-red font-24 small-radio">&bull;</small> -->
					<span class="color-88 pd-l10">查看你参与的创意项目</span>
		    		</a>
		    </div>

		    <div class="business-row mg-b10 bg-ff pd-l15">
			    	<a href="#user-comment">
					<i class="if i-xiaoxi font-24 color-3d"></i>
					<strong class="color-3d">我的评论</strong>
					<!-- <small class="color-red font-24 small-radio">&bull;</small> -->
					<span class="color-88 pd-l10">查看你的所有评论</span>
				</a>
		    </div>

		    <div class="business-row mg-b10 bg-ff pd-l15">
		    		<a href="#user-draft">
					<i class="if i-caogaoxiang font-24 color-3d"></i>
					<strong class="color-3d">草稿箱</strong>
					<!-- <small class="color-red font-24 small-radio">&bull;</small> -->
					<span class="color-88 pd-l10">你有一共有 <span ng-bind="::userExtensionInfo.userDraftCount"></span> 个创意草稿</span>
		    		</a>
		    </div>

				<div class="business-row mg-b10 bg-ff pd-l15">
				  <label class="user-language item item-select">
				    <span>
				      <i class="if ion-ios-world-outline font-24 color-3d"></i>
				      <strong class="color-3d">&nbsp;语言</strong>
				    </span>
						<select ng-model="currentLanguage"
              ng-options="option.name for option in languages track by option.key"
							ng-change="setLangugage(currentLanguage)"></select>
				  </label>
				</div>

		    <div class="user-logout">
		    	<button class="button button-clear button-positive" ng-click="logout()">
		    		退出登录
				</button>
		    </div>
		</main>

	</ion-content>
</ion-view>
