<ion-view cache-view="false" view-title="我的评论" class="user-comments">
  <ion-header-bar>
    <div class="user-list-title bg-pink" ui-sref="user" nav-direction="back">
      <i class="ion ion-ios-arrow-left btn-back-arrow"></i>
      <span class="font-18">我的评论</span>
    </div>
  </ion-header-bar>

  <ion-content class="bg-fb">
    <div class="swiper-container-nav">
      <ul class="tab-menu color-3d swiper-wrapper">
        <li class="swiper-slide" ui-sref="user-comment.received" ui-sref-active="active">收到的评论</li>
        <li class="swiper-slide" ui-sref="user-comment.sent" ui-sref-active="active">发出的评论</li>
      </ul>
    </div>
    <div class="content">
      <div ui-view></div>
    </div>
  </ion-content>
</ion-view>
