<ion-view view-title="评论">
    <ion-content class="bg-f9 mg-b40">
        <div class="user-list-title bg-pink" hna-goback nav-direction="back">
            <i class="ion ion-ios-arrow-left btn-back-arrow"></i>
            <span class="font-18">评论</span>
        </div>
        <section>
            <div class="border-b" ng-repeat="comment in comments">
                <div class="box-table bg-ff">
                    <li class="box-table-row">
                        <div class="box-table-cell pd-l15 pd-tb" style="width: 50px;">
                            <img ng-src="{{ comment.creator.headerIcon }}" alt="头像" width="35" height="35" class="user-img border-0">
                        </div>
                        <div class="box-table-cell pd-l10 pd-r15 pd-tb color-88">
                            <div class="clearfix">
                                <div class="left">
                                  <a href="" class="font-14 color-3d" ng-bind="comment.creator.nickName" ></a>
                                  <small class="font-12 display-block" ng-bind="comment.createdDate" ></small>
                                </div>
                                  <span class="font-12 right color-3d" ui-sref="reply-comment-edit({projectId: comment.projectId, commentId: comment.commentId, replyUser: comment.creator.nickName})" nav-direction="forward"><i class="if i-xiaoxi"></i> 回复</span>
                            </div>
                            <p class="mg-t5 font-14" ng-bind="comment.content" >
                            </p>
                        </div>
                    </li>
                </div>
            </div>
        </section>
    </ion-content>
    <form ng-submit="submitComment(newComment)" novalidate >
        <div class="bar bar-footer hna-footer item-input-inset">
            <textarea class="user-comments-detail single-line-textarea bg-f6 mg-r10" rows="1" ng-model="newComment" placeholder="请输入评论..."></textarea>
            <button class="button button-clear">
                评论
            </button>
        </div>
    </form>
</ion-view>
