<ion-view view-title="评论">
    <ion-header-bar>
        <div class="user-list-title bg-pink" ng-click="goBack()">
            <i class="ion ion-ios-arrow-left btn-back-arrow"></i>
            <span class="font-18">评论</span>
        </div>
    </ion-header-bar>
    <ion-content class="bg-f9 mg-b40">
      <div class="center mg-t20" ng-if="!comments || comments.length === 0">
        <img src="../img/empty.svg">
        <div class="mg-t10" ng-bind="attentionMsg"></div>
      </div>

      <section ng-if="comments.length > 0">
            <div class="border-b" ng-repeat="comment in comments">
                <div class="box-table bg-ff">
                    <li class="box-table-row">
                        <div class="box-table-cell pd-l15 pd-tb" style="width: 50px;" ng-click="goUserInfoPage(comment.creator.id)" nav-direction="forward">
                            <img ng-src="{{ comment.creator.headerIcon }}" alt="头像" width="35" height="35" class="user-img border-0">
                        </div>
                        <div class="box-table-cell pd-l10 pd-r15 pd-tb color-88">
                            <div class="clearfix">
                                <div class="left" ng-click="goUserInfoPage(comment.creator.id)" nav-direction="forward">
                                  <a href="" class="font-14 color-3d" ng-bind="comment.creator.nickName" ></a>
                                  <small class="font-12 display-block" ng-bind="comment.createdDate" ></small>
                                </div>
                                  <span ng-if="!isCurrentUser(comment.creator.id)" class="font-12 right color-3d" ui-sref="reply-comment-edit({commentId: comment.commentId, replyUser: comment.creator.nickName})" nav-direction="forward"><i class="if i-xiaoxi"></i> 回复</span>
                            </div>
                          <p>
                            <span ng-if="comment.replyTo.nickName" ng-click="goUserInfoPage(comment.replyTo.userId)" nav-direction="forward" >{{comment.creator.nickName}} 回复 <a>@{{::comment.replyTo.nickName}}:</a></span>
                            <span class="mg-t5 font-14" ng-bind="comment.content">
                            </span>
                          </p>
                        </div>
                    </li>
                </div>
            </div>

          <load-more
            on-load-more="getProjectComments()"
            has-more-data="hasMoreData">
          </load-more>

        </section>
    </ion-content>
    <form ng-submit="submitComment(newComment)" novalidate >
        <div class="bar bar-footer hna-footer item-input-inset">
            <textarea class="user-comments-detail single-line-textarea bg-f6 mg-r10" rows="1" ng-model="newComment" placeholder="请输入评论..."></textarea>
            <button class="button button-clear">
                评论
            </button>
        </div>
    </form>
</ion-view>
