<ion-view view-title="下载BIM">
    <ion-content class="bg-f9 bg-pink">
        <div class="user-list-title" hna-goback nav-direction="back">
            <i class="ion ion-ios-arrow-left btn-back-arrow"></i>
            <span class="font-18">下载BIM</span>
        </div>
        <section>
        	<div class="center mg-t20">
        		<div class="radius bg-light-red pd-t20 center margin" style="width: 120px; height: 120px; margin: 0 auto;" >
        			<h2 class="color-3d" >BIM</h2>
        			<p class="color-88" >iOS版本 1.2.5</p>
        		</div>
            	<img class="mg-t20 border-d1 pd-5" src="../img/qrcode/bim-qrcode.jpg" style="width: 160px; height: 160px;" >
            	<p class="color-88 mg-t20" >扫描二维码, 使用BIM参与项目讨论。</p>
        	</div>
        </section>
    </ion-content>
</ion-view>
