.index-header.bar {
  height: 38px;
}

.index-header.bar-header {
  background-color: #fff;
}

.index-header.bar-header .user-header-icon-default {
  width: 21px;
  padding-top: 4px
}

.index-header.bar-header .user-header-icon {
  width: 27px;
  height: 27px;
  padding-top: 0;
}

.index-header.bar-header div:nth-child(1).button {
  padding: 4px 5px;
  background-color: transparent;
}

.index-header .bar-user-header {
  z-index: 10;
}

.index-header .bar .title {
  height: 38px;
  line-height: 38px;
}

.index-header.bar .title .logo img {
  width: 100px;
  margin-top: 6px;
}

.index-header.bar .button-img {
  background-color: transparent;
  border-color: transparent;
}

.index-header.bar .button-img:after {
  display: none;
}

.index-header.bar .button-img a:nth-child(1) img{
  width: 20px;
  vertical-align: top;
  padding: 5px 0;
  margin-right: 12px;
}

.index-header.bar.bar-header .button-img a:nth-child(2) img{
  width: 18px;
  margin-right: 0;
  padding: 4px 0;
}

.content-header {
  margin-top: 38px;
}

.index-header.bar.bar-header .title + .button:last-child {
  right: 4px;
}
