<ion-view cache-view="false">
  <ion-content class="bg-fb">
    <div class="detail-special">
      <i class="if i-remove1 go-back radius" hna-goback nav-direction="back"></i>
      <div class="bg-ff">
        <img ng-src="{{detail.banner}}" width="100%" height="174"/>
      </div>

      <div class="detail-special-info pd-lr pd-tb bg-ff">
        <p class="color-3d font-14 text-ellipsis text-title">
          {{::detail.title}}
        </p>
          <span ng-repeat="tag in ::detail.tags">
            <span class="tag tag-lan mg-b0 font-12" ng-bind="tag"></span>
          </span>
        <!--<span class="tag tag-lan mg-b0 font-12">{{::detail.company}}</span>-->
      </div>

      <div class="swiper-container bg-ff mg-t10" id="swiper-resource">
        <ul class="tab-nav" id="swiper-resource-nav"></ul>
        <ul class="swiper-wrapper tab-list color-88">
          <li class="swiper-slide pd-lr pd-tb">
            <p>{{::detail.introduction}}</p>
          </li>
          <li class="swiper-slide pd-lr pd-tb">
            <ul class="text-word">
              <li class="border-b1 pd-tb" ng-repeat="mentor in detail.mentors">
                <div>
                  <a href="#">
                    <img ng-src={{::mentor.headerIcon}} width="45" height="45" class="radius mg-r15 left"/>
                  </a>
                </div>
                <div class="pd-l60">
                  <p class="mg-b5">
                    <i class="if i-xiaoxi font-18 right color-88"></i>
                    <a href="#" class="color-3d font-14 text-ellipsis text-title">{{::mentor.name}}</a>
                    <span class="font-12" style="display: block; line-height: 12px;">{{::mentor.position}}</span>
                  </p>
                  <p class="text-ellipsis color-3d font-12 mg-b0">{{mentor.description}}</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
  <hna-footernav></hna-footernav>
</ion-view>
