<ion-view>
    <ion-content>
        <div class="user-list-title bg-pink bg-img-left" ui-sref="innovation" >
            <span class="font-18">资源库</span>
        </div>
        <div>
            <ul class="tab-menu color-3d">
                <li ui-sref="explore-resources.experts" ui-sref-active="active" >各路精英</li>
                <li>公开培训</li>
                <li ui-sref="explore-resources.markets" ui-sref-active="active" >资源市集</li>
            </ul>
        </div>
        <div class="content">
            <div class="mg-t10">
                <div ui-view></div>
            </div>
        </div>
    </ion-content>
</ion-view>