
<ion-view view-title="热门资源">
	<ion-content class="bg-fb">
		<div class="user-list-title bg-pink bg-img-left" ui-sref="innovation" nav-direction="back">
			<span class="font-18">热门资源</span>
		</div>

		<div class="pd-10">
			<ul class="list-img list-img-medium">
				<li ng-repeat="resource in resources" ui-sref="detail-page-resource({detailId: $index})" >
					<div>
						<a ui-sref="detail-page-resource">
							<img ng-src="{{ resource.img }}" width="130" height="90"/>
						</a>
					</div>
					<div>
						<a class="color-3d font-14 text-ellipsis">
							{{ resource.title }}
						</a>
						<div>
							<a class="font-10 tag tag-lan mg-b0" ng-repeat="tag in resource.tags" >
	                          {{ tag }}
	                        </a>
						</div>
						<p class="color-88 text-bottom">
							<span>
        						<img src="../img/home/home-love2.png" width="15" /> {{ resource.likeCount }}
        					</span>
                            <span class="pd-l10">
        						<img src="../img/star1.png"  width="15"/> {{ resource.starCount }}
        					</span>
                            <span class="pd-l10">
        						<img src="../img/home/home-comment.png"  width="15"/> {{ resource.commentCount }}
        					</span>
						</p>
					</div>
				</li>
			</ul>
		</div>

	</ion-content>
</ion-view>
