
<ion-view view-title="热门资源">
	<ion-content class="bg-fb">
		<div class="user-list-title bg-pink bg-img-left" hna-goback>
			<span class="font-18">热门资源</span>
		</div>

		<div class="pd-10">
			<ul class="list-img list-img-medium">
				<li ng-repeat="resource in resources" >
					<div>
						<a ui-sref="detail-page-resource">
							<img src="../img/user/list-1.jpg" width="130" height="90"/>
						</a>
					</div>
					<div>
						<a class="color-3d font-14 text-ellipsis" ui-sref="detail-page-resource">
							{{ resource.title }}
						</a>
						<div class="font-12">
							<a class="tag tag-lan mg-b0">科技</a>
							<a class="tag tag-lan mg-b0">科技</a>
							<a class="tag tag-lan mg-b0">科技</a>
							<a class="tag tag-lan mg-b0">科技</a>
						</div>
						<p class="color-88 text-bottom">
							<span>
        						<img src="../img/home/home-love2.png" width="15" />{{ resource.likeCount }}
        					</span>
                            <span class="pd-l10">
        						<img src="../img/star1.png"  width="15"/>{{ resource.starCount }}
        					</span>
                            <span class="pd-l10">
        						<img src="../img/home/home-comment.png"  width="15"/>{{ resource.commentCount }}
        					</span>
						</p>
					</div>
				</li>
			</ul>
		</div>

	</ion-content>
</ion-view>
