<section class="panel-section">
    <div class="panel_header">
        <div class="panel_title">工作室</div>
    </div>
    <div class="panel_body">
        <ul class="poker-list">
            <li class="poker-card">
                <div class="poker_img">
                    <img class="radius" src="../img/face/1.png" alt="创意成员">
                </div>
                <div class="poker_title color-3d">
                    创意工作室
                </div>
                <div class="poker_description color-6d">
                    5人团队
                </div>
                <div>
                    <button class="button-init button-red">查看详情</button>
                </div>
            </li>
            <li class="poker-card">
                <div class="poker_img">
                    <img class="radius" src="../img/face/1.png" alt="创意成员">
                </div>
                <div class="poker_title color-3d">
                    创意工作室
                </div>
                <div class="poker_description color-6d">
                    5人团队
                </div>
                <div>
                    <button class="button-init button-red">查看详情</button>
                </div>
            </li>
        </ul>
    </div>
</section>