<section class="panel-section">
    <div class="panel_header">
        <div class="panel_title">工作室</div>
    </div>
    <div class="panel_body">
        <ion-scroll direction="x" >
            <ul class="poker-list sroll-x-wrapper" >
                <li class="poker-card">
                    <div class="poker_img">
                        <img class="radius" src="../img/screen.png" alt="创意成员">
                    </div>
                    <div class="poker_title color-3d">
                        创意工作室
                    </div>
                    <div class="poker_description color-6d">
                        5人团队
                    </div>
                    <div>
                        <button class="button-init button-red">查看详情</button>
                    </div>
                </li>
                <li class="poker-card">
                    <div class="poker_img">
                        <img class="radius" src="../img/tablet.png" alt="创意成员">
                    </div>
                    <div class="poker_title color-3d">
                        创意工作室
                    </div>
                    <div class="poker_description color-6d">
                        5人团队
                    </div>
                    <div>
                        <button class="button-init button-red">查看详情</button>
                    </div>
                </li>
                <li class="poker-card">
                    <div class="poker_img">
                        <img class="radius" src="../img/tablet.png" alt="创意成员">
                    </div>
                    <div class="poker_title color-3d">
                        创意工作室
                    </div>
                    <div class="poker_description color-6d">
                        5人团队
                    </div>
                    <div>
                        <button class="button-init button-red">查看详情</button>
                    </div>
                </li>
            </ul>
        </ion-scroll>
    </div>
</section>
<section class="panel-section mg-t10">
    <div class="panel_header">
        <div class="panel_title">人才</div>
    </div>
    <div class="panel_body">
        <div class="box-table mg-b15">
            <div class="box-table-row border-b1">
                <div class="box-table-cell" style="width: 50px;">
                    <img src="../img/face/1.png" alt="头像" width="45" height="45" class="user-img border-0">
                </div>
                <div class="box-table-cell pd-l10 pd-r15">
                    <div class="pd-b5">
                        <span class="font-14 color-3d">江山 San Jang</span>
                        <button class="button-init button-red right">+ 邀请</button>
                    </div>
                    <div class="pd-b5">
                        <a class="font-10 tag tag-lan mg-b0">大数据</a>
                        <a class="font-10 tag tag-lan mg-b0">Java</a>
                    </div>
                    <p class="color-88 icons-list mg-t5">
                        <span>
                                <img src="../img/positon.png" width="15" /> 海口
                            </span>
                        <span class="pd-l10">
                                <img src="../img/comment-dark.png"  width="15"/> 125回答
                            </span>
                        <span class="pd-l10">
                                <img src="../img/window.png"  width="15"/> 5项目
                            </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>