<ul class="list-img list-img-medium">
    <li ng-repeat="resource in ::knowledges.ARTICLES" >
        <div>
            <a>
                <img ng-src="{{ ::resource.img }}" width="130" height="90" />
            </a>
        </div>
        <div>
            <p class="color-3d font-14 text-ellipsis text-title">
                {{ resource.title }}
            </p>
            <div>
                <a class="font-10 tag tag-lan mg-b0" ng-repeat="tag in resource.tags" >
                    <span ng-bind="tag" ></span>
                </a>
            </div>
            <p class="color-88 text-bottom">
                <span>
                    <img src="../img/home/home-love2.png" width="15" />{{ resource.likeCount }}
                </span>
                <span class="pd-l10">
                    <img src="../img/star1.png"  width="15"/>{{ resource.starCount }}
                </span>
                <span class="pd-l10">
                    <img src="../img/home/home-comment.png"  width="15"/>{{ resource.commentCount }}
                </span>
            </p>
        </div>
    </li>
</ul>