<section class="panel-section open">
  <div class="banner">
    <img src="../img/resources/banner.png" alt="">
  </div>
  <div class="panel_header">
    <div class="panel_title">即将开讲</div>
    <div class="panel_btn">我要开讲</div>
  </div>
  <ul class="open-list">
    <li>
      <div class="img">
        <img src="../img/resources/open-img.png" alt="">
      </div>
      <div class="summary">
        <div class="title">
          社交媒体运营创业社交媒体运营创业社交媒体运营创业
        </div>
        <div class="info">
          <div>
            <img src="../img/resources/open-user.png" alt="">
            <span>肖黎明</span>
          </div>
          <div>
            <img src="../img/resources/open-location.png" alt="">
            <span>上海</span>
          </div>
          <div>
            <img src="../img/resources/open-date.png" alt="">
            <span>2016/10/19</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="../img/resources/open-img.png" alt="">
      </div>
      <div class="summary">
        <div class="title">
          社交媒体运营创业社交媒体运营创业社交媒体运营创业
        </div>
        <div class="info">
          <div>
            <img src="../img/resources/open-user.png" alt="">
            <span>肖黎明</span>
          </div>
          <div>
            <img src="../img/resources/open-location.png" alt="">
            <span>上海</span>
          </div>
          <div>
            <img src="../img/resources/open-date.png" alt="">
            <span>2016/10/19</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="../img/resources/open-img.png" alt="">
      </div>
      <div class="summary">
        <div class="title">
          社交媒体运营创业社交媒体运营创业社交媒体运营创业
        </div>
        <div class="info">
          <div>
            <img src="../img/resources/open-user.png" alt="">
            <span>肖黎明</span>
          </div>
          <div>
            <img src="../img/resources/open-location.png" alt="">
            <span>上海</span>
          </div>
          <div>
            <img src="../img/resources/open-date.png" alt="">
            <span>2016/10/19</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="../img/resources/open-img.png" alt="">
      </div>
      <div class="summary">
        <div class="title">
          社交媒体运营创业社交媒体运营创业社交媒体运营创业
        </div>
        <div class="info">
          <div>
            <img src="../img/resources/open-user.png" alt="">
            <span>肖黎明</span>
          </div>
          <div>
            <img src="../img/resources/open-location.png" alt="">
            <span>上海</span>
          </div>
          <div>
            <img src="../img/resources/open-date.png" alt="">
            <span>2016/10/19</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="listen-btn">
    我还想听..
  </div>
</section>
