<section class="panel-section open">
  <div class="banner">
    <img src="../img/resources/banner.png" alt="">
  </div>
  <div class="panel_header">
    <div class="panel_title">即将开讲</div>
    <div class="panel_btn">我要开讲</div>
  </div>
  <ul class="open-list">
    <li class="clearfix" ng-repeat="class in ::train.CLASSES" >
      <div class="img left">
        <img ng-src="{{ class.img }}" alt="">
      </div>
      <div class="summary">
        <div class="title" ng-bind="class.title" >
        </div>
        <div class="info">
          <div>
            <img src="../img/resources/open-user.png" alt="">
            <span ng-bind="class.speaker" ></span>
          </div>
          <div>
            <img src="../img/resources/open-location.png" alt="">
            <span ng-bind="class.city" ></span>
          </div>
          <div>
            <img src="../img/resources/open-date.png" alt="">
            <span ng-bind="class.date" ></span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="listen-btn">
    我还想听..
  </div>
</section>
