<style>
  .resource-detail.team .banner {
    height: 160px;
  }
  .resource-detail.team .content > div,
  .resource-detail.team .content > ol {
    text-indent: 28px;
    margin-bottom: 5px;
    list-style: circle;
    line-height: 25px;
  }
  .resource-detail.team .content > ol li {
    list-style: circle;
    text-indent: 0;
    margin-left: 45px;
  }
  .resource-detail.team .content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
  .resource-detail.team .action {
    text-align: center;
  }

  .resource-detail.team .action > div {
    margin: 4px 0;
  }

</style>
<ion-view>
  <ion-content class="bg-fb resource-detail team">
    <div class="banner">
      <i class="if i-remove1 go-back radius" hna-goback nav-direction="back"></i>
      <img ng-src="{{ ::detail.banner }}" alt="">
    </div>
    <div class="title" ng-bind="::detail.name"></div>
    <div class="content">
      <div ng-bind="::detail.introduction"></div>
    </div>
    <div class="expert">
      <div class="box-table">
        <div class="box-table-row">
          <div class="box-table-cell" style="width: 50px;">
            <img src="../img/face/1.png" alt="头像" width="45" height="45" class="user-img border-0">
          </div>
          <div class="box-table-cell pd-r15">
            <div>
              <span class="font-14 color-3d expert-name" ng-bind="::detail.owner"><span>产品经理</span></span>
            </div>
            <div class="description" ng-bind="::detail.description" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="action">
        <a class="a-btn tag-hong" ng-click="joinChat()">申请加入讨论组</a>
        <div>or</div>
        <a ng-href="tel:{{ detail.tel }}" class="a-btn tag-lv"><i class="ion-ios-telephone"></i>直接call他</a>
    </div>
  </ion-content>
</ion-view>
