<div class="row stastitics-show bg-ff border-b">
    <div class="col stastitics_item stastitics_innovation" ui-sref="last-innovation" nav-direction="forward">
        <div class="stastitics_number center pd-tb5" >
            <span class="stastitics_total color-6d font-18 bold" count-to="{{innovationsCount}}" duration="1" value=0 ></span>
            <span class="stastitics_new bg-pink color-white" count-to="{{newCount}}" duration="1" value=0 ng-if="newCount > 0"></span>
        </div>
        <div class="stastitics_title center font-12">
            <i class="if i-chuangyi font-16 color-88"></i><span class="color-6d">{{'stastitics.innovation' | translate }}</span>
        </div>
    </div>
    <div class="col stastitics_item stastitics_resources" ui-sref="explore-resources.experts" nav-direction="forward">
        <div class="stastitics_number center pd-tb5" >
            <span class="stastitics_total color-6d font-18 bold" count-to="38" duration="1" value=0 ></span>
            <span class="stastitics_new bg-pink color-white" count-to="5" duration="1" value=0 ></span>
        </div>
        <div class="stastitics_title center font-12">
            <i class="if i-hezi301 font-16 color-88"></i>
            <span class="color-6d">{{'stastitics.resources' | translate }}</span>
        </div>
    </div>
    <div class="col stastitics_item stastitics_success" ui-sref="success-case" nav-direction="forward">
        <div class="stastitics_number center color-6d font-18 pd-tb5 bold" count-to="26" duration="1" value=0></div>
        <div class="stastitics_title center font-12">
            <i class="if i-zhuanshi font-16 color-88"></i>
            <span class="color-6d">{{'stastitics.show-case' | translate }}</span>
        </div>
    </div>
</div>
