<div class="team-members">
  <h3 class="color-3d">创意成员（<span ng-bind="members.length || '无'"></span>）</h3>
  <div>
    <ul>
      <li ng-repeat="member in members">
        <img class="team-members_avator radius" ng-src="{{member.headerIcon}}" alt="创意成员">
        <div class="team-members_name color-6d" ng-bind="member.nickName"></div>
      </li>
      <li ng-if="!isProjectUser" class="team-members_join" >
        <div class="team-members_add color-pink radius bg-light-red" ng-click="joinProject()">+</div>
        <div class="team-members_name color-red">申请加入</div>
      </li>
    </ul>
  </div>
</div>
