<div class="team-members">
    <h3 class="color-3d">创意成员（6）</h3>
    <div>
        <ul>
            <li>
                <img class="team-members_avator radius" src="../img/face/1.png" alt="创意成员">
                <div class="team-members_name color-6d">马涛</div>
            </li>
            <li>
                <img class="team-members_avator radius" src="../img/face/2.png" alt="创意成员">
                <div class="team-members_name color-6d">马涛</div>
            </li>
            <li>
                <img class="team-members_avator radius" src="../img/face/3.png" alt="创意成员">
                <div class="team-members_name color-6d">马涛</div>
            </li>
            <li>
                <img class="team-members_avator radius" src="../img/face/4.png" alt="创意成员">
                <div class="team-members_name color-6d">马涛</div>
            </li>
            <li>
                <img class="team-members_avator radius" src="../img/face/5.png" alt="创意成员">
                <div class="team-members_name color-6d">马涛</div>
            </li>
            <li>
                <div class="team-members_add color-pink radius bg-light-red">+</div>
                <div class="team-members_name color-red">申请加入</div>
            </li>
        </ul>
    </div>
</div>