/*
 * Reset Style
 */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/*remove yellow color*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
