// 1. Global
// ---------

$colors: (
  pink: #e16a68,
  red: #e06968,
  black-gray: #3d3d3d,
  dark-gray: #6D6D6D,
  gray: #888,
  light-gray: #a9a9a9,
  lightest-gray: #f8e1e1,
  white: #fff,
);

$border-color: #e5e5e5;
