<ion-view view-title="创新明星">
    <ion-content class="bg-f9">
        <div class="user-list-title bg-pink bg-img-left" hna-goback>
            <span class="font-18">创新明星</span>
        </div>
        <section class="">
            <div class="border-tb mg-b10">
                <ul class="box-table bg-ff">
                    <li class="box-table-row" id="user-photo">
                        <div class="box-table-cell pd-l15 pd-tb" style="width: 40px;">
                            <img src="../img/user/user.jpg" alt="头像" width="30" height="30" class="user-img border-0">
                        </div>
                        <div class="box-table-cell pd-l10 pd-tb line-30">
                            <span class="color-3d font-16">马涛</span>
                        </div>
                    </li>
                </ul>
                <ul class="user-list3 bg-f9">
                    <li class="bg-ff pd-l15 pd-b15">
                        <div>
                            <a ng-href="#">
                                <img src="../img/user/list-1.jpg" width="42" height="42" />
                            </a>
                        </div>
                        <div>
                            <p class="color-3d mg-b0 text-ellipsis">基于大数据和人工智能据和人工智能的需求基于大数据和人工智能据和人工智能的需求</p>
                            <p class="color-88 mg-b0 font-12">
                                <small class="if i-time font-12"></small>
                                <span>&nbsp;2016-10-09 16:46</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="border-tb mg-b10">
                <ul class="box-table bg-ff">
                    <li class="box-table-row" id="user-photo">
                        <div class="box-table-cell pd-l15 pd-tb" style="width: 40px;">
                            <img src="../img/user/user.jpg" alt="头像" width="30" height="30" class="user-img border-0">
                        </div>
                        <div class="box-table-cell pd-l10 pd-tb line-30">
                            <span class="color-3d font-16">马涛</span>
                        </div>
                    </li>
                </ul>
                <ul class="user-list3 bg-f9">
                    <li class="bg-ff pd-l15 pd-b15">
                        <div>
                            <a ng-href="#">
                                <img src="../img/user/list-1.jpg" width="42" height="42" />
                            </a>
                        </div>
                        <div>
                            <p class="color-3d mg-b0 text-ellipsis">基于大数据和人工智能据和人工智能的需求基于大数据和人工智能据和人工智能的需求</p>
                            <p class="color-88 mg-b0 font-12">
                                <small class="if i-time font-12"></small>
                                <span>&nbsp;2016-10-09 16:46</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </ion-content>
</ion-view>