<ion-view view-title="创新明星">
  <ion-header-bar>
    <div class="user-list-title bg-pink" ui-sref="innovation" nav-direction="back">
      <i class="ion ion-ios-arrow-left btn-back-arrow"></i>
      <span class="font-18">创新明星</span>
    </div>
  </ion-header-bar>

    <ion-content class="bg-f9">
        <section>
            <div class="border-b" ng-repeat="star in ::stars" ng-if="stars.length > 0">
                <div class="box-table bg-ff">
                    <li class="box-table-row" >
                        <div class="box-table-cell pd-l15 pd-tb" style="width: 50px;">
                            <img ng-src="{{ star.headIcon }}" alt="头像" width="35" height="35" class="user-img border-0">
                        </div>
                        <div class="box-table-cell pd-l10 pd-r15 pd-tb line-30">
                            <p class="font-14 border-b1">{{ star.name }}</p>
                            <p class="font-16">
                                共发布创新：
                                <span class="color-88">{{ star.sponsorProjectCount }}个</span>
                            </p>
                            <p class="font-16">
                                获赞：
                                <span class="color-88">{{ star.likedCount }}个</span>
                            </p>
                        </div>
                    </li>
                </div>
            </div>
        </section>

      <div class="empty center mg-t10" ng-if="!stars || stars.length === 0">
        <img src="../img/empty.svg">
        <div ng-bind="attentionMsg"></div>
      </div>
    </ion-content>
</ion-view>
