
<ion-view view-title="创意介绍">
  <ion-content>
    <div class="user-list-title bg-pink">
      <div class="user-edit-cancel expand-touch-area" ng-click="cancel()" nav-direction="back">
        <i class="ion ion-android-close"></i>
      </div>
      <span class="font-18">创意介绍</span>
      <div class="user-edit-save expand-touch-area" ng-click="save()" nav-direction="back">
        <i class="ion ion-android-done"></i>
      </div>
    </div>
    <div class="pd-10">
      <div id="editor-container"></div>
    </div>
  </ion-content>
</ion-view>
