.detail-banner{
	position: relative;

	overflow: hidden;
}
.detail-banner li{
	position: absolute;
	width: 100%;
	top: 0;
}
.detail-special-info div:nth-child(1){
	height: 30px;
	line-height: 30px;
	box-sizing: content-box;
}
