.bar {
  height: 38px;
}

.bar-header {
  background-color: #fff;
}

.bar .title {
  height: 38px;
  line-height: 38px;
}

.bar .button-img img:nth-child(1) {
  width: 20px;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 2px;
}

.bar.bar-header .button-img img:nth-child(2) {
  width: 18px;
  margin-right: 4px;
  margin-top: 4px;
}

.content-header {
  margin-top: 38px;
}

.bar.bar-header .title + .button:last-child {
  right: 4px;
}
