/*
 * Statistics Element
 */

.stastitics-show .stastitics_item span {
    padding-top: 6px 0;
    padding-left: 28px;
    overflow: visible;
}

.stastitics-show .stastitics_innovation span {
    background: url(../img/innovation.svg) no-repeat left center;
}

.stastitics-show .stastitics_resources span {
    background: url(../img/resource.svg) no-repeat left center;
}

.stastitics-show .stastitics_success span {
    background: url(../img/diamond.svg) no-repeat left center;
}