/*
 * Statistics Element
 */

.stastitics-show {
	padding: 18px 10px 8px;
}

.stastitics-show .stastitics_item span {
    padding-left: 24px;
    display: inline-block;
}

.stastitics-show .stastitics_innovation span {
    background: url(../img/innovation.svg) no-repeat left center;
}

.stastitics-show .stastitics_resources span {
    background: url(../img/resource.svg) no-repeat left center;
}

.stastitics-show .stastitics_success span {
    background: url(../img/diamond.svg) no-repeat left center;
}