
#step-2{
    margin: 0 15px;
    margin-top: 9px;
    background: none;
}

#step-2 textarea{
    width: 100%;
    height: 150px;
    resize: none;
    padding-top: 15px;
    margin-bottom: 50px;
}

#step-2 .step-container{
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
}

#step-2 .step-item{
    width: calc((100vw - 60px) / 4);
    height: calc((100vw - 60px) / 4);
    margin: 5px 10px 5px 0;
    position: relative;
    overflow: hidden;
}
step-item img{
    height: calc((100vw - 60px) / 4);    
}

#step-2 .step-item:nth-child(4n){
    margin-right: 0;
}
#step-2 .step-item:nth-child(1), #step-2 .step-item:nth-child(2), #step-2 .step-item:nth-child(3), #step-2 .step-item:nth-child(4){
    margin-top: 0;
}

#step-2 .step-item img:first-child{
    border-radius: 4px;
}

#step-2 .item-del{
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;
    height: 4vw;
}

.step-header a{
    display: block;
    padding-left: 7px;
    font-size: 20px;
    line-height: 28px;
    width: 28px;
    z-index: 20;
}

.step-footer{
    height: 40px;
    border-top: 1px solid #e16a68;
    line-height: 40px;
}

.step-footer .color-88{
    color: #888 !important;
}

.step-footer:after{
    display: none;
}

.step-footer img{
    width: 18px!important;
    height: 18px!important;
    vertical-align: -4px;
}

#step-2{
    margin: 0 15px;
    margin-top: 9px;
    background: none;
}

#step-2 textarea{
    width: 100%;
    height: 150px;
    resize: none;
    padding-top: 15px;
    margin-bottom: 50px;
}

#step-2 .step-container{
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
}

#step-2 .step-item{
    width: calc((100vw - 60px) / 4);
    height: calc((100vw - 60px) / 4);
    margin: 5px 10px 5px 0;
    position: relative;
    overflow: hidden;
}
step-item img{
    height: calc((100vw - 60px) / 4);    
}

#step-2 .step-item:nth-child(4n){
    margin-right: 0;
}
#step-2 .step-item:nth-child(1), #step-2 .step-item:nth-child(2), #step-2 .step-item:nth-child(3), #step-2 .step-item:nth-child(4){
    margin-top: 0;
}

#step-2 .step-item img:first-child{
    border-radius: 4px;
}

#step-2 .item-del{
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;
    height: 4vw;
}

#photoUpload2{
    display: none;
}

#imgUpload{
    position: relative;
}

#step-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

#step-loading svg{
    width: 40px;
    height: 40px;
}


.confirm-msg{
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    color: #666;
}