#user-header{
    height:140px;
    padding: 0 12px;    
	background:url(../img/user/title_bg_mine.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

#user-bar{
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8E1E1;
    font-size: 12px;
}
#user-main{
	height: 100%;
}

.user-img{
	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.5);
}
.user-row{
	padding-top: 10px;
	border-bottom: #ededed solid 1px;
	padding: 0;
}
.user-row li{
	border-right: #f3f3f3 solid 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.user-row li:last-child{
	border-right: 0;
}
.user-row li p{
	position: relative;
	height: 22px;
	line-height: 22px !important;
	margin-bottom: 0;
	overflow: hidden;
}
.user-row li p:nth-child(1){
	line-height: 16px;
}
.user-row li p:nth-child(3){
	height: 30px;
	line-height: 30px !important;
}
.user-row li p strong{
	position: relative;
}
.user-row li p strong small{
	position: absolute;
	display: inline-block;
	top: -11px;
	left: 13px;
	width: 28px;
	height: 28px;
	padding-right: 2px;
	line-height: 26px;
	text-align: center;
	background:url(../img/user/svg-chat.svg) no-repeat center;
	background-size: 100%;
	font-weight: 400;
	color: #e17877;
}
.business-row{
	height: 65px;
	line-height: 55px;
	border-top: #ededed solid 1px;
	border-bottom: #ededed solid 1px;
	overflow: hidden;
}
.small-radio{
	position: relative;
	top: 2px;
}
.type-row{
	border-top: #ededed solid 1px;	
	overflow: hidden;	
}
.type-row li{
	float: left;	
	width: 50%;
	height: 65px;
	padding-left: 15px;
	padding-top: 8px;
	border-bottom: #ededed solid 1px;	
}
.type-row li:nth-child(odd){
	border-right: #ededed solid 1px;
}
.type-row li p{
	margin-bottom: 0;	
}

.user-list{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.user-list>li{
	position: relative;
	width: 100%;
	height: 75px;
	background-color: #fff;
	border: #dedede solid 1px;
	margin-bottom: 10px;
}
.user-list>li>div:nth-child(1) {
	width: 110px;
	height: 100%;
	z-index: 2;
}
.user-list>li>div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 5px 10px 5px 120px;
	z-index: 1;
}
.user-list>li>div:nth-child(2) p{
	height: 22px;
	line-height: 22px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0;
}
.user-list>li>div:nth-child(2) .text-bottom{
	position: absolute;
	bottom: 5px;
	height: 15px;
	line-height: 9px;
}
.user-list-title{
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: url(../img/add.png) no-repeat center cover;
}
